

<h2 style="text-align: center;">Añadir Negocios</h2>
<o-row style="align-content: space-between; padding-left: 1.5%;">
  <o-column id="addBusiness">
    <o-button  label="Añadir negocio"> </o-button>

  </o-column>
  <o-column id="selectDay">
    <o-combo attr="comboDays" oLocker
    oLockerMode="disable" label="{{ 'SELECT_DAY' | oTranslate }}" service="packs" translate="yes"
        entity="packDays" value-column="pck_id" columns="pck_id;pck_days"
        visible-columns="pck_days" separator=", " fxFlex required="yes" >
    </o-combo>
  </o-column>
 
              </o-row>
    
<o-table  fxFill #table service="businesses" entity="business" keys="bsn_id" columns="bsn_id;bsn_name;bsn_type;bsn_address;bsn_phone;bsn_photos;bsn_website;bsn_schedule"
title="BUSINESSES" visible-columns="bsn_name;bsn_address;bsn_type" insert-button="no" delete-button="no" refresh-button="yes" pagination-controls="yes" detail-mode="none" export-button="no"
query-rows="10" show-charts-on-demand-option="no" select-all-checkbox-visible="yes" select-all-checkbox="yes" auto-adjust="no" fixed-header="yes" id="tabla">
<o-table-row-expandable icon-collapse="keyboard_arrow_down" icon-expand="chevron_right">
  <ng-template let-row>
    <span *ngIf="row.bsn_type === 'Restaurant'"><mat-icon class="type-icon">restaurant</mat-icon><strong style="font-size: 20px;">{{row.bsn_type | oTranslate }}</strong></span>
    <span *ngIf="row.bsn_type === 'Lodging'"><mat-icon class="type-icon">house</mat-icon> <strong style="font-size: 20px;">{{row.bsn_type | oTranslate }}</strong></span>
    <span *ngIf="row.bsn_type === 'AgencyGuide'"><mat-icon class="type-icon">flight</mat-icon><strong style="font-size: 20px;">{{row.bsn_type | oTranslate }}</strong></span>
    <o-column  class="vertical-margin-10" layout-gap="12px">
        <div  fxLayout="row wrap" fxLayoutGap="14px"> 

        <div  fxLayout="column wrap" fxLayoutGap="14px" > 
            <img class="preview-image" [src]="getImageSrc(row.bsn_photos)">

        </div>
      <!-- Direccion y descripcion -->
      <o-row  class="o-rows" class="left" attr="container" icon="business" title="{{'BUSINESS' | oTranslate }}"
      layout-align="start stretch" elevation="1" aria-orientation="vertical" appearance="outline" >
      <ul class="list-with-spaces">
         <li ><strong ><i >{{'pck_name' | oTranslate }}: </i></strong> {{row.bsn_name}}</li>
        <li><strong><i>{{'ADDRESS' | oTranslate }}: </i></strong> {{row.bsn_address}}</li>
      </ul>
  </o-row>

  <!-- Horario, telefono, website y el cif -->

  <o-row class="o-rows" class="right" attr="container" title="{{'INFO_EXTRA' | oTranslate }}" icon="info"
      layout-align="start stretch" elevation="1" appearance="outline" opacity="0">
      <ul class="list-with-spaces">
          <li><strong><i>{{'SCHEDULE' | oTranslate }}: </i></strong>{{row.bsn_schedule}}</li>
          <li><strong><i>{{'PHONE' | oTranslate }}: </i></strong> {{row.bsn_phone}}</li>
          <li><strong><i>{{'WEBSITE' | oTranslate }}: </i></strong> {{row.bsn_website}}</li>
      </ul>
  </o-row>
        </div>
    </o-column>
  </ng-template>
</o-table-row-expandable>

</o-table>

