<o-form #landmarksNew attr="landmarksNew" label-header="{{'info_new_landmark' | oTranslate }}" class="custom-form" label-header-align="start" service="landmarks" entity="landmark" keys="landmark_id" title="" (onInsert)="onClickOk();$event.stopPropagation()" confirm-exit="false" message-service-type="customMessageServiceTypeLandmarks">
    <o-column class="container">
        <div fxLayout="row" class="landmarkInfo">
            <div fxLayout="column" fxLayoutGap="10px" class="noHidden">
                <o-text-input class="txt"  attr="name" sql-type="STRING" max-length="70"
                    enabled="yes" required="yes"></o-text-input>
            </div>
            <div fxLayout="column" fxLayoutGap="10px" class="noHidden">
                <o-text-input class="txt" attr="coordinates"
                sql-type="STRING" enabled="yes" required="yes" read-only="yes"></o-text-input>
            </div>
            <div>
                <o-text-input class="hidden" #routeIdInput attr="inputIdRoute" label="Text" (onChange)="onChangeValue()" oHidden></o-text-input>
            </div>
        </div>
        <div fxLayout="row" class="landmark-map">
            <o-map #oMap attr="mapInput" center="42.940599,-7.120727" zoom="8" min-zoom="3" max-zoom="20" zoom-control="yes" 
                search-control="no" layer-panel-visible="no" fxFlex (onClick)="onClickMap($event)">
                <o-map-crs crs="EPSG:4326"></o-map-crs>
            </o-map>
        </div>
    </o-column>
</o-form>
