.landmarkInfo{
    margin: 15px 15px 0px 15px;
    width: 98%;
}

.noHidden{
    padding: 10px;
    width: 50%;
}

.landmark-map {
    margin: 15px;
    padding: 10px;
    height: 90%;
    width: 98%;
}

.container{
    height: 700px;
}

.hidden{
    width: 0px;
}