.landmarkInfo{
    margin: 10px;
    width: 50%;
}

.landmarkInfo div {
    padding: 5px;
}

.divMapa{
    width: 90%;
    height: 500px;
    margin: 10px;
}

.mapa{
    height: 100%;
    display: inherit;
}

.landmark-map {
    height: 100%;
    width: 100%;
}