<o-row>
    <o-column style="padding-top: 1%;padding-left: 1%;">
      <o-button attr="fab2" type="ICON" icon="arrow_back" layout-padding color="primary" (click)="goBack()"></o-button>
    </o-column>
    <o-column style="padding-left: 38%;">
      <h2 style="text-align: center">{{'ADD_ROUTEs' | oTranslate }}</h2>
  
    </o-column>
  
  
  </o-row>
  <o-row style="align-content: space-between; padding-left: 1.5%">
  
    <o-column id="addBusiness">
      <o-button label="{{'ADD_ROUTEP' | oTranslate }}" (click)="insertRoutePack()"> </o-button>
  
    </o-column>
  
    <o-column id="selectDay">
      <o-combo #comboBoxDay class="comboBoxDay" attr="comboDay" label="{{'SELECT_DAY' | oTranslate }}" null-selection="no"
        [static-data]="arrayDias" [data]="selectedComboDay" value-column="day" columns="day" required="yes"
        visible-columns="day">
      </o-combo>
    </o-column>
  </o-row>
  <o-row style="height: 70vh;">
    <o-table style="height: 50vh;" fxFill #table service="routes" entity="routeLandmark" keys="R.route_id"
      columns="R.route_id;name;estimated_duration;difficulty;description;img_code" title="ROUTES"
      visible-columns="name;estimated_duration;difficulty" insert-button="no" delete-button="no" refresh-button="yes"
      pagination-controls="yes" detail-mode="none" export-button="no" query-rows="20" show-charts-on-demand-option="no"
      select-all-checkbox-visible="yes" select-all-checkbox="yes" auto-adjust="no" fixed-header="yes" id="tabla"
      onRowSelected="addRow()">
      <o-table-row-expandable icon-collapse="keyboard_arrow_down" icon-expand="chevron_right">
        <ng-template let-row>
            <!--
          <span ><mat-icon  [ngClass]="getIconColorClass(data.difficulty)" *ngFor="let _ of [].constructor(data.difficulty)">eco</mat-icon>
            <mat-icon  *ngFor="let _ of [].constructor(4 - data.difficulty)">eco</mat-icon><strong
              style="font-size: 20px;">{{row.difficulty | oTranslate }}</strong></span>
          <span><mat-icon  [ngClass]="getIconColorClass(data.difficulty)" *ngFor="let _ of [].constructor(data.difficulty)">eco</mat-icon>
            <mat-icon  *ngFor="let _ of [].constructor(4 - data.difficulty)">eco</mat-icon> <strong
              style="font-size: 20px;">{{row.difficulty | oTranslate }}</strong></span>
          <span><mat-icon  [ngClass]="getIconColorClass(data.difficulty)" *ngFor="let _ of [].constructor(data.difficulty)">eco</mat-icon>
            <mat-icon  *ngFor="let _ of [].constructor(4 - data.difficulty)">eco</mat-icon><strong
              style="font-size: 20px;">{{row.difficulty | oTranslate }}</strong></span>
              <span><mat-icon  [ngClass]="getIconColorClass(data.difficulty)" *ngFor="let _ of [].constructor(data.difficulty)">eco</mat-icon>
                <mat-icon  *ngFor="let _ of [].constructor(4 - data.difficulty)">eco</mat-icon><strong
                style="font-size: 20px;">{{row.difficulty | oTranslate }}</strong></span> -->
                <span>    
                    <mat-icon  [ngClass]="getIconColorClass(row.difficulty)" *ngFor="let _ of [].constructor(row.difficulty)">eco</mat-icon>
                    <mat-icon  *ngFor="let _ of [].constructor(4 - row.difficulty)">eco</mat-icon>
                </span>

               


          <o-column class="vertical-margin-10" layout-gap="12px">
            <div fxLayout="row wrap" fxLayoutGap="14px">
  
              <div fxLayout="column wrap" fxLayoutGap="14px">
                <img class="preview-image" [src]="getImageSrc(row.img_code)">
  
              </div>
              <!-- Nombre y descripcion -->
              <o-row class="o-rows" class="left" attr="container" icon="hiking" title="{{'ROUTES' | oTranslate }}"
                layout-align="start stretch" elevation="1" aria-orientation="vertical" appearance="outline">
                <ul class="list-with-spaces">
                  <li><strong><i>{{'pck_name' | oTranslate }}: </i></strong> {{row.name}}</li>
                  <li><strong><i>{{'DESCRIPTION' | oTranslate }}: </i></strong> {{row.description}}</li>
                </ul>
              </o-row>
  
              <!-- Horario, telefono, website y el cif -->
  
              <o-row class="o-rows" class="right" attr="container" title="{{'INFO_EXTRA' | oTranslate }}" icon="info"
                layout-align="start stretch" elevation="1" appearance="outline" opacity="0">
                <ul class="list-with-spaces">
                  <li><strong><i>{{'DURATION' | oTranslate }}: </i></strong>{{ convertTime(row.estimated_duration) }}</li>
                  <li><strong><i>{{'DIFFICULTY' | oTranslate }}: </i></strong> {{getDifficultad(row.difficulty)}}</li>
                </ul>
              </o-row>
              <!-- landmarks 
              <o-row class="o-rows" class="left" attr="container" icon="location_on" title="{{'landmarks' | oTranslate }}"
              layout-align="start stretch" elevation="1" aria-orientation="vertical" appearance="outline">
              <ul class="list-with-spaces">
                <li><strong><i>{{'name' | oTranslate }}: </i></strong> {{row.lm.name}}</li>
              </ul>
            </o-row>-->
            </div>
          </o-column>
        </ng-template>
      </o-table-row-expandable>
  
    </o-table>
  </o-row>
