<o-breadcrumb [form]="myList" separator=" "></o-breadcrumb>
<div class="div-fullpage">
  <o-list
    #myList
    class="contenedor"
    #list
    attr="packsTable"
    columns="p.pck_id;p.pck_name;p.pck_description;i.img_code;i.image_id;ip.imp_id;p.creation_date"
    service="packs"
    entity="packMulti"
    keys="p.pck_id"
    refresh-button="true"
    insert-button="false"
    refresh-button="false"
    quick-filter="yes"
    pageable="yes"
    delete-button="false"
    row-height="medium"
    detail-mode="none"
    quick-filter-columns="pck_name;pck_description"
    pagination-controls="yes"
    query-rows="10"
    orderable="true"
    sort-columns="creation_date:desc"
  >
    <div class="titulo_pack" fxLayout="column">
      {{ "PACK_TABLE" | oTranslate }}
    </div>
    <div *ngFor="let row of list.dataArray" class="principal-centro">
      <div class="secundaria-centro">
        <mat-card class="card-entera">
          <div fxLayout="row">
            <div fxLayout="column" fxLayoutGap="6px" class="card-datos">
              <div>
                <o-row
                  class="o-rows"
                  class="titulo"
                  attr="container"
                  icon="hiking"
                  mat
                  title="{{ 'PACK_NAME' | oTranslate }}"
                  layout-align="start stretch"
                  aria-orientation="vertical"
                  appearance="outline"
                  style="border-radius: 10px; padding: 3px"
                >
                  <mat-card-title class="titulo">{{
                    row.pck_name
                  }}</mat-card-title>
                </o-row>
                <o-row
                  class="o-rows"
                  class="description"
                  attr="container"
                  icon="description"
                  mat
                  title="{{ 'DESCRIPTION' | oTranslate }}"
                  layout-align="start stretch"
                  aria-orientation="vertical"
                  appearance="outline"
                  style="border-radius: 10px; padding: 3px"
                >
                  <mat-card-subtitle class="descripction">{{
                    row.pck_description
                  }}</mat-card-subtitle>
                </o-row>
              </div>
              <div fxlayout="row" fxLayoutGap="16px" class="div-buttons">
                <button (click)="onClicEdit(row.pck_id)" class="button">
                  <mat-icon>edit</mat-icon>
                  {{ "EDIT" | oTranslate }}
                </button>
                <!-- TODO <button (click)="onClicDelete(row.route_id)" class="button">
                  <mat-icon>delete</mat-icon>
                  {{ "delete" | oTranslate }}
                </button> -->
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center" class="card-imagen">
              <img [src]="getImageSrc(row.img_code)" class="imagen" />
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </o-list>
</div>