.title{
    padding: 10px;
}
.div-fullpage {
    background-image: url('../../../../assets/images/fondoPackEditar.png');
    background-size:cover;
    height: 90%;
  }

  .principal-centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .secundaria-centro {
    display: flex;
    padding: 10px 10px 10px 10px;
    background-color: #978475;
    border-radius: 10px 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .contenedor-centro {
    display: flex;
    justify-content: center;
    background-color: #978475;
    padding: 10px;
  }
  .datos{
    width: 1000px;
  }
  .card_datos{
    width: 700px;
    height: 100%;
    padding: 0px 0px 0px 90px;
  }

.button{
 font-size: 16px;
 border-radius: 5px;
 background-color: #978475;
 border-width: 3px;
 border-color: black;
}

.button:hover{
    background-color: rgb(220, 220, 223);
    font-size: 18px;
    transition: font-size 0.3s ease;
}

.titulo{
    font-size: 25px;
}

.prueba{
  background-color: #b39e8e;
}
.o-rows{
  padding: 5px;
}
