
<o-breadcrumb [form]="myList" label-columns="p.pck_name;p.pck_description" separator=" "></o-breadcrumb>
<div class="div-fullpage">
    <o-list #myList class="contenedor" #list attr="packsTable" title="packsTable" columns="p.pck_id;p.pck_name;p.pck_description;i.img_code"
    service="packs" entity="pack" keys="p.pck_id" refresh-button="true" insert-button="false" quick-filter="true" refresh-button="false"
    quick-filter="no" pageable="yes" delete-button="false" row-height="medium" detail-mode="none" quick-filter-columns="pck_name;pck_description" pagination-controls="yes"
    query-rows="10">

    <div *ngFor="let row of list.dataArray" class="principal-centro">
        <div class="secundaria-centro">
            <o-row class="contenedor-centro">
                <o-column class="contenedor-centro">
                    <div class="datos">
                        <mat-card class="prueba">
                            <mat-card-header>
                                <div fxLayout="column" fxLayoutGap="8px" class="card">
                                    <div fxLayout="row" fxLayoutGap="8px">
                                        <div fxLayout="column" fxLayoutGap="55px" class="card_datos">
                                            <mat-card-title class="titulo">{{ row.pck_name }}</mat-card-title>
                                            <mat-card-subtitle>{{row.pck_description}}</mat-card-subtitle>
                                            <div fxlayout="row" fxLayoutGap="16px" class="card_image">
                                                <button (click)="onClicEdit(row.pck_id)" class="button">edit</button>
                                                <button class="button">delete</button>
                                            </div>
                                        </div>                                     
                                        <div class="imagen">
                                            <img [src]="getImageSrc(row.img_code)" height="200px" width="200px"/>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-header>
                        </mat-card>
                    </div>
                </o-column>
            </o-row>
        </div>
    </div>
    </o-list>
</div>


 <!-- <div class="div-fullpage">
    <h2>**Al cargar la pagina se salta el query rows</h2>
    <h2 class="title">{{'MANAGETITLE' | oTranslate }}</h2>
    <o-table class="contenedor" attr="packsTable" service="packs" entity="pack" keys="pck_id"
        columns="pck_id;pck_name;pck_description" row-height="large" pagination-controls= "no" detail-mode='none' delete-button='no' insert-button='no' refresh-button='yes'
        visible-columns="goToDetails;pck_name;pck_description">
        <o-table-column attr="goToDetails" fxFlex>
            <o-table-cell-renderer-action action="detail" icon="edit" label="Ir al detalle"></o-table-cell-renderer-action>
          </o-table-column>
        <o-table-column attr="pck_name" title="pck_name" multiline="yes" width="100px" tooltip="yes"></o-table-column>
        <o-table-column attr="pck_description" fxFlex title="pck_description" multiline="yes" width="100px" tooltip="yes"></o-table-column>
        <o-table-context-menu  insert="no" edit="no" view-details="yes"></o-table-context-menu>
    </o-table>
</div>  -->

 <!-- <div class="div-fullpage">
    <h2>**Al cargar la pagina se salta el query rows</h2>
    <h2 class="title">{{'MANAGETITLE' | oTranslate }}</h2>
    <o-table class="contenedor" attr="packsTable" service="packs" entity="pack" keys="pck_id"
        columns="pck_id;pck_name;pck_description" row-height="large" pagination-controls= "no" detail-mode='none' delete-button='no' insert-button='no' refresh-button='yes'
        visible-columns="goToDetails;pck_name;pck_description">
        <o-table-column attr="goToDetails" fxFlex>
            <o-table-cell-renderer-action action="detail" icon="edit" label="Ir al detalle"></o-table-cell-renderer-action>
          </o-table-column>
        <o-table-column attr="pck_name" title="pck_name" multiline="yes" width="100px" tooltip="yes"></o-table-column>
        <o-table-column attr="pck_description" fxFlex title="pck_description" multiline="yes" width="100px" tooltip="yes"></o-table-column>
        <o-table-context-menu  insert="no" edit="no" view-details="yes"></o-table-context-menu>
    </o-table>
</div>  -->

