.title{
    padding: 10px;
}
.div-fullpage {
    background-image: url('../../../../assets/images/fondoPackEditar.jpg');
    background-size:cover;
    height: 90%;
  }
  
  .principal-centro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .secundaria-centro {
    display: flex;
    padding: 10px 10px 10px 10px;
    background-color: rgb(231, 231, 231);
    border-radius: 10px 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .contenedor-centro {
    display: flex;
    justify-content: center;
    background-color: rgb(231, 231, 231);
    align-items: center;
    padding: 10px;
  }
  .datos{
    height: auto;
    width: 1000px;
  }
