
.o-image{
    width: 90%;
    height: 90%;
}


span {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5%;
    width: 10px;
}

#pack *:not(div){
    padding-bottom: 3%;

}
#pack{
    width: 50%;
    margin-left: 2%;
}

#description{
    .mat-textarea {
        resize: none;
    }
}

#text{
  margin-top: 2%;
}

div *{
    width: 58.5%;
}

.date-picker{
    .mat-mdc-tooltip-trigger{
        .mat-mdc-form-field{
            .mat-mdc-text-field-wrapper {
                background-color:#ccc6c0;
                
            }
        }
    }
}

.responsive{
display: flex;

    gap: 10px;
    width: 100%;
}