<o-breadcrumb [form]="myList" label-columns="name" separator=" "></o-breadcrumb>
<div class="fondo">
  <o-form attr="routeTable" #myList include-breadcrumb="true" service="routes" entity="route" keys="route_id"
          show-header="yes" message-service-type="customMessageServiceTypeRoutes" show-header-navigation="no" class="custom-form">
    <div o-form-toolbar-buttons class="toolbar-buttons">
        <button type="button" class="o-form-toolbar-button" mat-stroked-button (click)="finish()" attr="accountBalance">
            <mat-icon>logout</mat-icon>
            <span class="finishBT">{{ 'FINISH_BT' | oTranslate }}</span>
        </button>
    </div>
    <o-text-input attr="route_id" sql-type="INTEGER" enabled="no" show-header-navigation="no" oHidden></o-text-input>
    <div class="principal" fxFlexAlign="center">
      <div class="tituloTabla">
        <p class="letrasTitulo">{{'ROUTE_INFO' | oTranslate}}</p>
      </div>
      <div fxLayout="row" class="contenedor_arriba">
        <div fxLayout="column" class="contenido_datos" fxLayoutGap="16px" >
          <o-text-input #prouteNameInput attr="name" required="yes"></o-text-input>
          <o-textarea-input class="description-textarea" attr="description" required="yes"
          max-length="500" [validators]="blankValidator" rows="9">
          <o-validator error-name="lengthInvalid" error-text="{{ 'LENGTH_ERROR' | oTranslate }}"></o-validator>
        </o-textarea-input>
          <o-integer-input  class="txt" attr="estimated_distance"
                        enabled="yes" min="1" max="60000" required="no" 
                        label="{{'estimated_distance' | oTranslate }} (m)"></o-integer-input>
          <o-combo attr="difficulty" label="{{ 'COMBO_DIFFICULTY' | oTranslate }}"[static-data]="difficultyArray"
                   value-column="difficultyCode" columns="difficultyCode;difficultyText" null-selection="no"
                   visible-columns="difficultyText" required="yes"></o-combo>
          <o-checkbox attr="is_draft" class="txt" label="{{ 'DRAFT' | oTranslate }}" read-only="no"></o-checkbox>
        </div>
        <div fxLayout="column" fxFlexAlign="center" class="contenedor_imagen">
          <o-form attr="routeImageTable" service="routes" entity="routeImageForEdit"
                  keys="route_id;image_route_id" parent-keys="route_id"
                  message-service-type="customMessageManageRoute" show-header="yes"
                  show-header-navigation="no">
            <o-text-input attr="route_id" sql-type="INTEGER" enabled="no" oHidden></o-text-input>
            <o-image id="img_code" attr="img_code" empty-image="assets/images/no-image.png"
                     sql-type="OTHER" class="imagen"></o-image>
          </o-form>
        </div>
      </div>
    </div>
    <div class="contenedorTabla" fxFlexAlign="center">
      <div class="tituloTabla">
        <p>{{'LANDMARKS' | oTranslate}}</p>
      </div>
      <div class="tabla">
        <o-table #landmarkTable attr="landmarkTable" service="landmarks" entity="landmark"
                 keys="route_landmark_id;l.landmark_id" parent-keys="route_id"
                 (onClick)="onClickLandmark($event)" (onRowDeleted)="onDeleteLandMark()"
                 columns="l.landmark_id;name;coordinates;description;route_landmark_id"
                 message-service-type="CustomMessageServiceLandmarks" visible-columns="name;coordinates"
                 pagination-controls="no" select-all-checkbox="yes" filter-case-sensitive="yes" export-button="no"
                 insert-button="yes" delete-button="yes" refresh-button="no" fixed-header="yes"
                 detail-mode="none" export-mode="local" class="custom-table"
                 static-query='{"additionalParam": "valor"}'>
          <o-table-button icon="map" label="{{'SHOW_MAP' | oTranslate}}" (onClick)="onClickMap(landmarkTable)"></o-table-button>
        </o-table>
        <div fxLayout="column" [ngClass]="{'landmark-map':mostrarMapa}" *ngIf="actualCoordinates" style="margin-top: 20px;">
          <o-map #oMap *ngIf="mostrarMapa" attr="mapInput" center="{{actualCoordinates}}" zoom="8"
                 min-zoom="3" max-zoom="20" zoom-control="yes" search-control="no" layer-panel-visible="no" 
                 show-base-layers-menu="no" fxFlex>
            <o-map-crs crs="EPSG:4326"></o-map-crs>
            <div *ngFor="let landmark of this.datosTabla">
                <o-map-layer layer-type="marker" [layer-id]="landmark.name" [layer-center]="landmark.coordinates" layer-menu-label="landmark.name "
                layer-menu-label-secondary="landmark.name"></o-map-layer>
            </div>
          </o-map>
        </div>
      </div>
    </div>
  </o-form>
</div>
