* {
    margin: 0;
    padding: 0;
}

.fondo {
    background-image: url('../../../../assets/images/fondoPackEditar.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.principal {
    background-color: #eee4db;
    border: 10px solid #c2b5aa;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
}

.contenedorTodo {
    border-radius: 10px;
    width: 100%;
}

.datosContainer {
    padding: 20px 0;
}

.tituloTabla {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 10px;
}

.contenedorTabla {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 80%;
}

.bordeTabla {
    border: 10px solid #c2b5aa;
    border-radius: 10px;
    background-color: #eee4db;
    padding: 20px;
    width: 100%;
}

.contenedor_imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 60px 30px 0 300px;
}

.imagen {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.landmark-map {
    height: 600px;
    width: 100%;
    margin-top: 20px;
}

.button {
    font-size: 16px;
    border-radius: 5px;
    border: 3px solid #c2b5aa;
    background-color: #c2b5aa;
    cursor: pointer;
    width: 300px;
    outline: none;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #fff;
    border-color: #fff;
    font-size: 18px;
    animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.description-textarea .mat-textarea {
    height: 130px;
    resize: none;
}

.modal * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    display: revert;
}
