@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Paleta de colores a utilizar
$primary-color: #909f43; // Color verde neutro 
$secondary-color: #495635; // Color verde oscuro 
$background-color: #F0F4C3; // Color de fondo claro 
$text-color: #715e4e; // Color marron oscuro 
$input-bg-color: #FFFFFF;
$input-border-color: #AED581;
$button-color: #715e4e;
$card-bg-color: rgba(255, 255, 255, 0.8);
$card-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);


//Estilos al div principal
.full-page-login {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  @include center-flex;
  background: linear-gradient(135deg, #909f43, #495635); //Degradado

  //Estilos al logo con el nombre 
  .header-login {
    position: fixed;
    top: 70px;
    width: 100%;
    @include center-flex;
    justify-content: center;

    .logo-text-container {
      display: flex;
      align-items: center;
      flex-direction: column;

      img {
        max-height: 40px;
      }

      .app-name {
        font-size: 32px;
        font-weight: 700;
        color: #FFFFFF;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }

  //Estilos de la carta flotante
  .login-card {
    width: 360px;
    padding: 40px 30px;
    background-color: $card-bg-color;
    box-shadow: $card-shadow;
    border-radius: 12px;
    text-align: center;
    backdrop-filter: blur(10px);
    margin-top: 70px;

    .login-title-container {
      margin-bottom: 24px;

      .title_text {
        font-size: 24px;
        font-weight: 700;
        color: $text-color;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      mat-form-field {
        width: 100%;
        margin-bottom: 16px;

        .mat-input {
          background-color: $input-bg-color;
          border: 1px solid $input-border-color;
          padding: 10px;
          border-radius: 4px;
        }

        mat-error {
          color: $secondary-color;
        }
      }

      //Estilos del checkbox
      .remember-me-container {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        input[type="checkbox"] {
          appearance: none;
          background-color: $input-bg-color;
          border: 1px solid $button-color;
          padding: 10px;
          border-radius: 4px;
          margin-right: 10px;
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: relative;

          &:checked::before {
            content: '\2713';
            font-size: 14px;
            color: #715e4e;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        label {
          font-size: 14px;
          color: $text-color;
          cursor: pointer;
        }
      }

      //Estilos de los botones login y register

      button {
        width: 100%;
        margin-top: 16px;
        height: 48px;
        font-size: 16px;
        background-color: $button-color;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: #5c4c3f;
          transform: translateY(-3px);
        }
      }

      //Estilos del boton resgister como profesional
      #professional {
        background-color: transparent;
        color: $button-color;
        font-size: 16px;
        padding: 10px 20px;
        border: 1px solid $button-color; 
        border-radius: 5px;
        cursor: pointer;
        box-shadow: none;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          background-color: #5c4c3f;
          color: #fff;
        }
      }
    }

    //Estilos del texto inferior (By GaliTur)
    .footer-text {
      margin-top: 24px;
      font-size: 10px;
      color: $text-color;

      span {
        display: block;
        margin: 2px 0;
      }
    }
  }

  @media (max-width: 576px) {
    .login-card {
      width: 90%;
      border-radius: 12px;
      padding: 20px;
    }
  }
}
