<div class="full-page">
  <div class="header">
    <div class="logo-text-container">
      <img src="../../../../assets/images/logo-walking.png" alt="Logo" class="logo-image"> <!-- Ruta de la imagen del logo -->
      <span class="app-name">GaliTur</span>
    </div>
  </div>
  <div class="login-card">
    <div class="login-title-container">
      <p class="session-expired text" *ngIf="sessionExpired">{{ 'ERROR_SESSION_EXPIRED' | oTranslate }}</p>
      <span class="title_text">{{ 'LOGIN_TITLE' | oTranslate }}</span>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field fxFill>
        <input matInput #user placeholder="{{ 'USERNAME' | oTranslate }}" id="username" [formControl]="userCtrl">
        <mat-error *ngIf="userCtrl.hasError('required')">
          {{ 'ERROR_USER_REQUIRED' | oTranslate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFill>
        <input matInput #password placeholder="{{ 'PASSWORD' | oTranslate }}" id="password" type="password"
          [formControl]="pwdCtrl">
        <mat-error *ngIf="pwdCtrl.hasError('required')">
          {{ 'ERROR_PASS_REQUIRED' | oTranslate }}
        </mat-error>
      </mat-form-field>
      <div class="remember-me-container">
        <input type="checkbox" id="remember-me" />
        <label for="remember-me">{{ 'REMEMBER_ME' | oTranslate }}</label>
      </div>
      <button mat-raised-button color="primary" type="submit">{{ 'LOGIN' | oTranslate }}</button>
      <button mat-raised-button color="primary" (click)="goToRegistrer()">{{ 'REGISTER' | oTranslate }}</button>
      <button id="professional" mat-raised-button color="primary" (click)="goToRegistrerProfesional()">{{ 'PROFESSIONAL' | oTranslate }}</button>
    </form>
    <div class="footer-text">
      <span>{{'Developed by GaliTur'}} &copy; 2024 {{'All rights reserved'}}</span>
    </div>
  </div>
</div>
