<o-grid #packGrid attr="packGrid" title="MYPACKS" service="packs" entity="packRating" keys="pbk_booking_id"
    columns="id;pck_name;pck_description;pck_price;pck_participants;gui_c_name;img_code;pck_days;pd_date_begin;pd_date_end;pcs_id;city;pbk_booking_id;rating_avg"
    page-size-options="8" orderable="true" sort-column="pck_name"
    sortable-columns="pck_name;pck_participants;gui_c_name;pck_name:desc:desc;pck_participants:desc;gui_c_name:desc"
    quick-filter-columns="pck_name;pck_price;pck_participants;gui_c_name" filter-case-sensitive="yes"
    insert-button="false" refresh-button="true" pageable="yes" pagination-controls="true" gutter-size="4px"
    fixed-header="yes" grid-item-height="350px" detail-mode="none" insert-button-floatable="no" class="full-page">

  <o-grid #packForm attr="packDetail" service="packs" entity="packAndBookingDetail" keys="P.pck_id;P.gui_c_id;pcs_id"
    columns="P.pck_id;pck_name;pck_description;pck_price;pck_participants;pck_days;pd_date_begin;pd_date_end;pcs_id;P.gui_c_id"
    parent-keys="pbk_booking_id" refresh-button="false" quick-filter="false" oHidden />

  <o-grid-item *ngFor="let data of packGrid.dataArray">
    <div (click)="openDetail(data)" class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img class="pack-img" [src]="getImageSrc(data.img_code)" alt="Avatar">
          <div class="text-overlay">
            <div class="pack-name"><span class="pack-name">{{data.pck_name}}</span></div>
            <hr/>
            <h4>{{data.gui_c_name}}</h4>
            <div class="extra-info">
              <div class="rating">
                <span class="ratingNumber" *ngIf="!data.rating_avg">-</span>
                <span class="ratingNumber" *ngIf="data.rating_avg">{{ data.rating_avg }}</span>
                <mat-icon class="star">grade</mat-icon>
              </div>
              <p class="front-price">{{data.pck_price}} <span class="euro">€</span></p>
            </div>
            
          </div>
        </div>
        <div class="flip-card-back">
          <div class="info-container">
            <div class="cardHeader">
              <span class="pack-info-title">{{data.pck_name}}</span>
            </div>
            <h3></h3>
            <div fxLayout="row" fxLayoutAlign="space-around stretch">
              <ul style="list-style-type: none;" class="list">

                <li><mat-icon class="icon">payments</mat-icon>{{data.pck_price}} €</li>
                <li *ngIf="!data.pck_participants"><mat-icon class="icon">groups</mat-icon>{{'-'}}</li>
                <li *ngIf="data.pck_participants && data.pck_participants == 1"><mat-icon
                    class="icon">groups</mat-icon>{{data.pck_participants}} {{'PERSON' | oTranslate}}</li>
                <li *ngIf="data.pck_participants && data.pck_participants > 1"><mat-icon
                    class="icon">groups</mat-icon>{{data.pck_participants}} {{'PEOPLE' | oTranslate}}</li>

                <li><mat-icon class="icon">calendar_month</mat-icon> {{formatDate(data.pd_date_begin)}} -
                  {{formatDate(data.pd_date_end)}}</li>
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </o-grid-item>
</o-grid>