<o-grid #routesGrid attr="routesHome" title="ROUTES" service="routes" entity="route" keys="route_id"
    columns="route_id;name;description;estimated_duration;difficulty"
    query-rows="8" page-size-options="8;10;12" orderable="true"
    sortable-columns="name;description;estimated_duration;difficulty" insert-button="true"
    pagination-controls="true" gutter-size="8px" fixed-header="yes" grid-item-height="300px" detail-mode="none"
    insert-button-floatable="no">
    <o-grid-item *ngFor="let data of routesGrid.dataArray">
        <div *ngIf="!data.isdraft" (click)="openDetail(data)" fxLayout="column" fxLayoutAlign="space-evenly center" [ngClass]="'card-'"
            class="routeCard">
                <div [ngClass]="'container-' + data.difficulty" class="container">
                    <mat-icon>location_on</mat-icon>
                    <span [ngClass]="'difficulty-' + data.difficulty" class="name"><strong>{{ data.name }} </strong></span>
                </div>
                <div [ngClass]="'d-' + data.difficulty">
                <span *ngIf="data.estimated_duration; else no_estimated_duration" class="duration">
                <mat-icon>schedule</mat-icon> {{"estimated_duration" | oTranslate}}:  {{ convertTime(data.estimated_duration) }} </span>
                <ng-template #no_estimated_duration>
                    <span><span></span></span>
                </ng-template>
                <div class="difficulty" [ngClass]="'di-' + data.difficulty">
                    <span *ngIf="data.difficulty; else no_difficulty">
                        <mat-icon  [ngClass]="getIconColorClass(data.difficulty)" *ngFor="let _ of [].constructor(data.difficulty)">eco</mat-icon>
                        <mat-icon  *ngFor="let _ of [].constructor(4 - data.difficulty)">eco</mat-icon>
                    </span>
                    <ng-template #no_difficulty>
                        <span>{{ "NO_DATA_AVAILABLE" | oTranslate}}</span>
                    </ng-template>
                </div>
            </div>
            </div>
    </o-grid-item>
</o-grid>
