/*title styles*/
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title{
    font-size: 25px;
    font-family: Poppins;
    margin-top: 0px;
    margin-bottom: 5px;
  }
/* packCard structure */
.packCard {
    width: 400px;
    min-width: 300px;
    background-color: #eff1f3;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    transform: scale(0.925); 
}

.businessCard img {
    justify-content: center;
}

/* Image div for pack card structure */
.packCard img {
    width: 100%;
    height: 100%;
}

/* pack card structure font size */
.packCard .office {
    font-size: 0.8em;
}

/* Image modifiers for pack card image */
.preview-image {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* card header styles */
.cardHeader {
    width: 100%;
    text-align: center;
    background-color: #52733B;
    color: white;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
}

/* pack name styles */
.pack-name {
    font-size: 1.2em;
    font-weight: bold;
}

/* card content styles */
.cardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* image styles */
.cardImg {
    width: 50%;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* info styles */
.cardInfo {
    width: 50%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* icon styles */
.icon {
    margin-bottom: -10px;
    font-size: 16px;
    color: #84A45A;
}

/* info list styles */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
    row-gap: 5px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

/* deep styling for grid sort and search input */
:host ::ng-deep .o-grid-sort {
    min-width: 325px;
    mat-form-field {
        min-width: 325px;
    }
}

:host ::ng-deep .o-search-input {
    span {
        color: whitesmoke;
    }
}

/* hover effect for pack card */
.packCard:hover {
    box-shadow: 0 0 15px rgba(113, 94, 78, 1); 
    transform: scale(0.9325); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
}

/*filter styles*/
.filter {
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #ccc6c0;
    margin-bottom: 16px;
}
.filter-column {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
    
    o-button {
        color: #4e4c4a;
    }
}

.filter-element {
    margin-bottom: 10px;
}

.filter-button {
    align-items: start;
    margin-top: 10px;
}

.full-page {
    height: 77vh;
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        width: 32vh;
    }
    .o-data-toolbar {
        align-items: end;
    }
}

/*Insert button and sort combobox styles*/
:host::ng-deep .o-data-toolbar {
    display: grid !important;
    grid-template-columns: auto auto !important;
    justify-content: space-between !important;
    padding-left: 16px !important;
    padding-right: 1px !important;
}

.o-grid-sort ng-star-inserted {
    align-self: end !important;
}

.button.mat-mdc-button-base.mat-mdc-icon-button .mat-mdc-button-touch-target {
    align-self: start !important;
}

.grid-container {
    width: 100%;
    height: 93.5%;
}
