<o-form editable-detail="no" show-header="no">
    <div class="filter">
        <!-- Filtro de palabras clave -->
        <o-text-input attr="pck_name" read-only="no" placeholder="Nombre"></o-text-input>
        
        <!-- Filtro de rango de fechas -->
        <o-date-input attr="pck_date_begin" read-only="no" label="Fecha inicio" format="DD/MM/YYYY HH:MM:SS"></o-date-input>
        <o-date-input attr="pck_date_end" read-only="no" label="Fecha fin"></o-date-input>
        
        <!-- Filtro de número de días -->
        <o-integer-input attr="pck_days" read-only="no" label="Número de días"></o-integer-input>
        
        <!-- Filtro de rango de precio -->
        <o-real-input attr="pck_price_min" read-only="false" placeholder="Precio mínimo"></o-real-input>
        <o-real-input attr="pck_price_max" read-only="false" placeholder="Precio máximo"></o-real-input>
        
        <!-- Filtro de número de viajeros -->
        <o-integer-input attr="pck_participants" read-only="no" label="Número de viajeros"></o-integer-input>
        
        <!-- Filtro de lugar 
        <o-combo attr="gui_c_name" searchable="yes" read-only="no" service="places" entity="place" keys="PLACE_ID"
            columns="PLACE_ID;PLACE_NAME" visible-columns="PLACE_NAME" value-column="PLACE_ID"></o-combo>-->
    </div>

    <o-filter-builder #filterBuilder attr="packFilter"
        filters="pck_name:pck_name;pck_date_begin:pck_date_begin;pck_date_end:pck_date_end;pck_days:pck_days;pck_price_min:pck_price_min;pck_price_max:pck_price_max;pck_participants:pck_participants;gui_c_name:gui_c_name"
        [target]="packGrid" query-on-change="yes" query-on-change-delay="500" [expression-builder]="filter">
    </o-filter-builder>
</o-form>

<o-grid #packGrid attr="packGrid" title="PACKS" service="packs" entity="allPacks" keys="P.pck_id" pageable="true"
    columns="P.pck_id;pck_name;pck_description;pck_date_begin;pck_date_end;pck_price;pck_participants;gui_c_name;pcs_id;img_code"
    query-rows="8" page-size-options="8;16;24" orderable="true" quick-filter-columns="pck_date_begin;pck_date_end;pck_price;pck_participants;gui_c_name"
    sortable-columns="pck_name;pck_date_begin;pck_date_end;pcs_id:asc;pcs_id:desc;gui_c_name;gui_c_name:desc" insert-button="false" refresh-button="false"
    pagination-controls="true" gutter-size="4px" fixed-header="yes" grid-item-height="320px" detail-mode="none" insert-button-floatable="no" o-button="filter">
    
    <o-grid-item *ngFor="let data of packGrid.dataArray">
        <div (click)="openDetail(data)" fxLayout="column" fxLayoutAlign="space-between stretch" [ngClass]="{ 'not-available': data.pcs_id == 2 }"
            class="mat-elevation-z1 packCard">
            <span *ngIf="data.pcs_id == 2" class="unavailable-message">{{'pck_reserved' | oTranslate}}</span>
            <div class="cardHeader">
                <span class="pack-name">{{truncateName(data.pck_name)}}</span>
            </div>
            <div class="cardContent">
                <div class="cardImg">
                    <img class="preview-image" [src]="getImageSrc(data.img_code)">
                </div>
                <div class="cardInfo">
                    <ul style="list-style-type: none;" class="list">
                        <li><mat-icon class="icon">event</mat-icon>{{truncateInfo(getDate(data.pck_date_begin))}}</li>
                        <li><mat-icon class="icon">event_busy</mat-icon>{{truncateInfo(getDate(data.pck_date_end))}}</li>
                        <li *ngIf="diferenciaDias(data.pck_date_begin,data.pck_date_end) <= 1"><mat-icon class="icon">timer</mat-icon>{{diferenciaDias(data.pck_date_begin,data.pck_date_end)}} {{'DAY' | oTranslate}}</li>
                        <li *ngIf="diferenciaDias(data.pck_date_begin,data.pck_date_end) > 1"><mat-icon class="icon">timer</mat-icon>{{diferenciaDias(data.pck_date_begin,data.pck_date_end)}} {{'DAYS' | oTranslate}}</li>
                        <li *ngIf="!data.pck_participants"><mat-icon class="icon">groups</mat-icon>{{'-'}}</li>
                        <li *ngIf="data.pck_participants"><mat-icon class="icon">groups</mat-icon>{{data.pck_participants}}</li>
                        <li><mat-icon class="icon">pin_drop</mat-icon>{{truncateInfo(data.gui_c_name)}}</li>
                        <li><mat-icon class="icon">payments</mat-icon>{{data.pck_price}} €</li>
                    </ul>
                </div>
            </div>
        </div>
    </o-grid-item>
</o-grid>