/* packCard structure */
.packCard {
    width: 400px;
    min-width: 300px;
    background-color: #eff1f3;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    transform: scale(0.925); 
}

.businessCard img {
    justify-content: center;
}

/* Image div for pack card structure */
.packCard img {
    width: 100%;
    height: 100%;
}

/* pack card structure font size */
.packCard .office {
    font-size: 0.8em;
}

/* Image modifiers for pack card image */
.preview-image {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* card header styles */
.cardHeader {
    width: 100%;
    text-align: center;
    background-color: #52733B;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
}

/* pack name styles */
.pack-name {
    font-size: 1.2em;
    font-weight: bold;
}

/* card content styles */
.cardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* image styles */
.cardImg {
    width: 50%;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* info styles */
.cardInfo {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* icon styles */
.icon {
    margin-bottom: -10px;
    font-size: 16px;
    color: #84A45A;
}

/* info list styles */
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* pack not available card styles */
.not-available {
    opacity: 0.5;
    filter: grayscale(100%);
    position: relative;
}

/* pack not available message styles */
.unavailable-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 20px;
}

/* deep styling for grid sort and search input */
:host ::ng-deep .o-grid-sort {
    min-width: 325px;
    mat-form-field {
        min-width: 325px;
    }
}

:host ::ng-deep .o-search-input {
    span {
        color: whitesmoke;
    }
}

/* hover effect for pack card */
.packCard:hover {
    box-shadow: 0 0 15px rgba(40, 63, 28, 0.55); 
    transform: scale(0.9325); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
}
