.routesSecond {
  height: 350px;
  width: 1100px;
  display: flex;
  align-items: center;
  border-radius: 150px;
}

.routesSecond span {
  display: flex;
  align-items: center;
  flex: 1;
}

.routesSecond mat-icon {
  margin-right: 6px;
  margin-left: 6px;
  vertical-align: middle;
}

.routesSecond img {
  width: 250px;
  height: 220px;
  padding: 0px 0px 0px 30px;
  vertical-align: middle;
}


.routesFirst, .routesSecond {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.routesFirst:hover, .routesSecond:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.routesFirst span strong {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #2d3748;
}

.o-gallery {
  height: 300px;
}


.descriptionPanel {
  flex: 2;
  padding-left: 16px;
  margin-top: 30px;
  max-height: 500px;
  width: 700px;
  overflow-y: auto;
}
.titulo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #8d7561;
  margin: 0px 200px 0px 200px;
  color: #ffffff;
  border: 5px solid;
  border-color: #000000;
  border-radius: 6px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
}


.estimatedDuration {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 45px;
}

.difficulty {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 15px;
}

.landmarkInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 14px;
}

.mainPanel {
  background-image: url("../../../../assets/images/photoRouteDetails.jpg");
  background-size: cover;
  background-position: center;

}

.routesFirst {
  background-color: #EFEFEF;
}

.routesSecond{
  background-color: #EFEFEF;
}

.custom-button {
  margin-left: 140px;
  background-color: #78af7bfd;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #5f9b62;
}

.d-1{
  background-color: #E4EBF2;
  border-radius: 20px;
  padding: 10px 10px;
  height: 70px;
  width: 300px;
  align-items: center;
  /*
  .mat-icon {
    color: #69b704e7;
  }
  */

}
.d-2{
  background-color: #E4EBF2;
  border-radius: 20px;
  height: 70px;
  padding: 10px 10px;
  align-items: center;
  width: 300px;
}
.d-3{
  background-color: #E4EBF2;
  border-radius: 20px;
  height: 70px;
  padding: 10px 10px;
  align-items: center;
  width: 300px;
}

.d-4{
  background-color: #E4EBF2;
  border-radius: 20px;
  height: 70px;
  padding: 10px 10px;
  align-items: center;
  width: 300px;
}

.difficulty{
  text-align: center;
}

.icon-difficulty-1 {
  color: #69b704e7;
}

.icon-difficulty-2 {
  color: #d1cb1fde;
}


.icon-difficulty-3 {
  color: #f69c15;
}

.icon-difficulty-4 {
  color: #dc1d0f;
}

