<div style="display: flex;justify-content: flex-end;">
<o-button label="{{'button_table_finish' | oTranslate }}" class="end_btn" icon="check" (click)="goBack()"></o-button>
</div>
<o-row class="principal">
 
  <o-column class="principal" style="padding-right: 1%;">
    
      <div class="div-table">

        <o-table #tableBsn keys="bsn_pack_id" columns="bsn_name;bsn_type;bsn_address;assigned_date" title="BUSINESSES"
          visible-columns="bsn_name;bsn_type;bsn_address" insert-button="no" delete-button="no" refresh-button="no"
          pagination-controls="yes" detail-mode="none" export-button="no" query-rows="50"
          show-charts-on-demand-option="no" auto-adjust="no" fixed-header="yes" sort-columns="assigned_date" expand-groups-same-level="false" collapse-grouped-columns="yes"
          select-all-checkbox-visible="yes" select-all-checkbox="yes">
          <o-table-button label="{{'DELETE_BSNP' | oTranslate }}" icon="delete"
            (onClick)="deleteBsn()"></o-table-button>
          <o-table-button label="{{'ADD_BSNP' | oTranslate }}" icon="business"
            (onClick)="addActivity()"></o-table-button>
          <o-table-columns-grouping columns="assigned_date" />
        </o-table>
      </div>
    

  </o-column>
  <o-column class="principal">
    
      <div class="div-table">
        <o-table #tableRoutes keys="route_pack_id" columns="name;estimated_duration;difficulty;assigned_date" title="ROUTES"
          visible-columns="name;estimated_duration;difficulty" insert-button="no" delete-button="no" refresh-button="no"
          pagination-controls="yes" detail-mode="none" export-button="no" query-rows="50"
          show-charts-on-demand-option="no" auto-adjust="no" fixed-header="yes" sort-columns="assigned_date" expand-groups-same-level="false" collapse-grouped-columns="yes"
          select-all-checkbox-visible="yes" select-all-checkbox="yes">
          <o-table-button label="{{'DELETE_ROUTEP' | oTranslate }}" icon="delete"
            (onClick)="deleteRoute()"></o-table-button>
          <o-table-button label="{{'ADD_ROUTEP' | oTranslate }}" icon="hiking" (onClick)="addRoute()"></o-table-button>
          <o-table-columns-grouping columns="assigned_date"/>
        </o-table>
      </div>
    
  </o-column>
</o-row>

