.principal {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
}

.div-button {
    margin-top: 1%;
    margin-bottom: 1.5%; /* Espacio opcional entre el botón y la tabla */
}

:host ::ng-deep o-button{
    width: 15%;
    height: 2%;
     button.mat-mdc-button-base.mat-mdc-outlined-button{
        height: 50px;
    }
}

.div-table {
    display: flex;
    flex-direction: column;
    height: 90%;
    
}


::ng-deep .o-table .o-table-container .mat-mdc-table .mat-mdc-row .mat-mdc-cell.grouping-row .grouping-title-wrapper{

    color: black;
    font-size: 15px;
    padding-top: 0.5%;
}