@use '@angular/material' as mat;
@use 'node_modules/ontimize-web-ngx/theming/ontimize-style.scss' as ontimize-style;




/* Color definitions */
$mat-custom-primary: (
    50 : #fcf2e7,
    100 : #d6cfc8, //Fondo botón añadir y fondo del "OK" del formulario
    200 : #715e4e, //Barra Scroll
    300 : #88b072,
    400 : #6d9457,
    500 : #715e4e, //Color Base
    600 : #486733,
    700 : #3d5a2b,
    800 : #3a3027, //Simbolo añadir & Texto "OK" en formulario
    900 : #283f1c,
    A100 : #ffffff,
    A200 : #b8a897,
    A400 : #8c7b6a,
    A700 : #6e5c4d,
    contrast: (
        50 : #b8a897,
        100 : #a28f7f,
        200 : #8c7b6a,
        300 : #776856,
        400 : #6c5f4f,
        500 : white,
        600 : #5c4d3d,
        700 : #4b3e32,
        800 : #3a3027,
        900 : #2e241d,
        A100 : #4c4c4c,
        A200 : #4c443f,
        A400 : #4c3a30,
        A700 : #4c3528
    )
);

/* Color definitions */
$mat-custom-primary-dark: (
    50 : #fcf2e7,
    100 : #d6cfc8, //Fondo botón añadir y fondo del "OK" del formulario
    200 : #715e4e, //Barra Scroll
    300 : #88b072,
    400 : #6d9457,
    500 : #52733B, //Color Base
    600 : #486733,
    700 : #3d5a2b,
    800 : #3a3027, //Simbolo añadir & Texto "OK" en formulario
    900 : #283f1c,
    A100 : #ffffff,
    A200 : #b8a897,
    A400 : #8c7b6a,
    A700 : #6e5c4d,
    contrast: (
        50 : #b8a897,
        100 : #a28f7f,
        200 : #8c7b6a,
        300 : #776856,
        400 : #6c5f4f,
        500 : #715e4e,
        600 : #5c4d3d,
        700 : #4b3e32,
        800 : #3a3027,
        900 : #2e241d,
        A100 : #4c4c4c,
        A200 : #4c443f,
        A400 : #4c3a30,
        A700 : #4c3528
    )
);

// Define a theme.
$primary: mat.define-palette($mat-custom-primary);
$accent: $primary;
$primary-dark: mat.define-palette($mat-custom-primary-dark);
$accent-dark: $primary-dark;

/* Light theme */
$theme: ontimize-style.o-mat-light-theme($primary, $accent);

/* Dark theme */
$dark-theme: ontimize-style.o-mat-dark-theme($primary-dark, $accent-dark);


/* Fuente en toda la web */
* {
    font-family: Poppins, "Helvetica Neue", sans-serif;
}

