.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.mainCard {
    display: flex;
    justify-content: center;
    height: auto;
    max-width: 1300px;
}


.main-container {

    min-width: 700px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;

}

.name-container {
    margin-top: 20px;
    margin-bottom:20px;
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.div-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.row-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.image {
    width: 100%;
    height: auto;
    max-width: 100%; 
    max-height: 100%;
    border-radius: 10px;
}

.left, .right {
    flex: 1;
    padding: 25px;
    background-color: transparent;
}

.desc {
    margin-left: 20px;
}

.o-rows {
    background-color: transparent;


}

.list-with-spaces {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    row-gap: 10px;
}


.o-text-input {
    outline: transparent;
    width: 100%;
    height: 100%;
    margin-top: 15px;
}

.o-grid-items {
    width: 100%;
    height: 100%;
}

.business-cif {
    opacity: 55%;
}






