<mat-card class="card">
    <mat-card-title class="title"> {{"Contracted_packs_according_to_the_province" | oTranslate}}</mat-card-title>
    <mat-card-content>
        <div class="chart-row">
            <div fxFlex fxLayout="row" class="chart-div" fxLayoutAlign="center center">
                    <o-chart class="custom-chart" type="pie" service="packs" entity="packProvince" y-axis="province_count"
                        query-on-init="yes" x-axis="gui_z_name"></o-chart>
            </div>
        </div>
    </mat-card-content>
</mat-card> 
