.main_panel{
    background-color: #e2dbd5;
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* card header styles */
.cardHeader {
    margin-bottom: 2%;
    width: 100%;
    text-align: center;
    background-color: #52733B;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
}

#valoration_div{
    display: table-cell;
    vertical-align: middle;
}

.image_valoration_row{
    padding-left: 5%;
    padding-right: 5%;
    margin: 2%;
    
}

/* pack name styles */
.pack-name {
    font-size: 1.2em;
    font-weight: bold;
}

/* Image modifiers for pack card image */
.preview-image {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.cardImg {
    width: 40%;
    height: 100%;
    /* background-color: #bdd6aaaf; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

/* image styles */
/* .cardImg {
    width: 50%;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 25%;
} */

#valoraciones{
    width: 100%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgba(113, 94, 78, 1);
    width: 50%;
    height: auto;
    border: none;
    border-radius: 15px;
}

.route-name:hover{
    overflow: auto;
    overflow-y: hidden;
}

.button_star{
    background: transparent;
    border: none;
    width: 50%;
    padding: 0;
}

.star{
    cursor: pointer;
    width: 100%;
    height: 10%;
    font-size: 350%;
    color:  rgba(113, 94, 78, 1);
}

.star_color{
    color: rgb(218, 186, 7);
}

/* Seleccionar la estrella y todas las anteriores para cambiar su color */
/* .button_star:hover,
.button_star:hover ~ .button_star {
    .star{
        background: linear-gradient(to top, rgba(94,60,6,1) 20%, rgba(9,121,10,1) 34%, rgb(27, 209, 20) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
} */

#coment{
    margin: 2%;
    width: 100%;
    background-color: rgba(177, 168, 161, 0.658);
    .mat-textarea {
        resize: none;
    }
}


#button_valoration {
    margin-top: 2%;
    display: flex;
    align-self: flex-end;
    width: 25%;
    height: 20%;
    font-size: 16px;
    background-color: #715e4e;
    overflow: hidden;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    .cdk-focused .cdk-program-focused{
        background-color: none;
    }
    &:hover {
      background-color: #5c4c3f;
      transform: translateY(-3px);
    }
}


