.o-form{
  background-image: url('^assets/images/login_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin: 0;
  display: flex;
  align-items: center;
  padding-top: 5%;
}
.titulo {
  align-self: center;
  font-weight: bold;
  font-size: 30px;
}

.o-form .o-column{
  align-items: center;
  padding: 4%;
}

o-row o-button{
  width: 50%;
}
