<div class="full-page">
  <o-form class="register-form" #form show-header="no" service="clients" entity="client" (onInsert)="navigate()" matchPassword keys="usr_id" after-insert-mode="new" message-service-type="customMessageServiceTypeRegister">
    <div class="contenedor">
      <o-column>
        <div class="register-container">
          <div class="titulo">{{ 'REGISTER' | oTranslate }}</div>
          <div>
            <o-text-input #login attr="usr_login" label="usr_login" required="yes" [validators]="validatorsUsernameArray">
              <o-validator error-name="usernameLength" error-text="{{ 'USERNAME.LENGTH.INVALID' | oTranslate }}"></o-validator>
              <o-validator error-name="blanks" error-text="{{ 'NO.BLANKS' | oTranslate }}"></o-validator>
              <o-validator error-name="usernameChars" error-text="{{ 'USERNAME.CHARS.INVALID' | oTranslate }}"></o-validator>
            </o-text-input>

            <o-text-input #name attr="usr_name" label="usr_name" required="yes" [validators]="validatorsNameArray">
              <o-validator error-name="nameBlanksBetween" error-text="{{ 'NAME.BLANK.BETWEEN.INVALID' | oTranslate }}"></o-validator>
            </o-text-input>

            <o-text-input #surname attr="usr_surname" label="usr_surname" required="yes" [validators]="validatorsNameArray">
              <o-validator error-name="nameBlanksBetween" error-text="{{ 'NAME.BLANK.BETWEEN.INVALID' | oTranslate }}"></o-validator>
            </o-text-input>

            <o-date-input #birth_date attr="birth_date" label="birth_date" required="yes" value-type="date" [max]="getMinAge()"></o-date-input>

            <o-phone-input attr="usr_phone" label="usr_phone" read-only="no"></o-phone-input>

            <o-email-input #email attr="usr_email" label="usr_email" read-only="no" required="yes"></o-email-input>

            <o-password-input #password attr="usr_password" label="usr_password" required="yes" min-length="8"
                              [validators]="validatorsNewPasswordArray">
              <o-validator error-name="hasCapitalCase" error-text="{{'VALIDATOR.HASCAPITALCASE' | oTranslate}}" ></o-validator>
              <o-validator error-name="hasNumber" error-text="{{'VALIDATOR.HASNUMBER' | oTranslate}}" ></o-validator>
              <o-validator error-name="hasSmallCase" error-text="{{'VALIDATOR.HASSMALLCASE' | oTranslate}}" ></o-validator>
              <o-validator error-name="hasSpecialCharacters" error-text="{{'VALIDATOR.HASSPECIALCHARACTERS' | oTranslate}}" ></o-validator>
            </o-password-input>
            <o-password-input #newPassword attr="confirm_new_password" label="usr_c_password" required="yes" min-length="8">
              <o-validator error-name="matchNewPassword"
                           [validator-function]="newPasswordMatchValidator" error-text="{{'VALIDATION.MATCHPASSWORD' | oTranslate}}"></o-validator>
            </o-password-input>
          </div>
          <div class="contenedor-boton-registro">
            <button class="boton-registro" attr="raised3" (click)="register()" type="RAISED"
                      layout-padding color="accent">{{ 'REGISTER_BUTTON' | oTranslate }}</button>
          </div>
          <div class="contenedor-boton-navegacion">
            <button attr="raised3" (click)="navLogin()" type="STROKED"
                      layout-padding color="accent" class="option-button">{{ 'ALREADY_REGISTERED' | oTranslate }}</button>
            <button attr="raised3" (click)="navRegisterProfessional()" type="STROKED"
                     layout-padding color="accent" class="option-button">{{ 'IM_PROFESSIONAL' | oTranslate }}</button>
          </div>
        </div>
      </o-column>

      <div class="footer-text">
        <span>{{'Developed by GaliTur'}} &copy; 2024 {{'All rights reserved'}}</span>
      </div>
    </div>

</o-form>

</div>
<div class="lang"><o-language-selector></o-language-selector></div>
<div class="header">
  <div class="logo-text-container">
    <img src="./assets/images/logo-walking.png" alt="Logo" class="logo-image"> <!-- Ruta de la imagen del logo -->
    <span class="app-name">GaliTur</span>
  </div>

  
</div>
