<h2>{{'ACCOUNT' | oTranslate}}</h2>
<o-form #form show-header="no" service="users" entity="password" matchPassword header-actions="U" keys="usr_id">
  <o-column layout-gap="20px" title="PASSWORD" fxFlex="60%">
    <o-text-input attr="name" label="Username" required="yes"></o-text-input>
    <o-text-input attr="name" label="Name" required="yes"></o-text-input>
    <o-text-input attr="name" label="Surname" required="yes"></o-text-input>
    <o-phone-input attr="phone" label="Phone" data="+34 000000000" read-only="no"></o-phone-input>
    <o-email-input attr="email" label="Email" read-only="no" required="yes"></o-email-input>
    <o-password-input #newpassword attr="new_password" required="yes" min-length="8" [validators]="validatorsNewPasswordArray">
      <o-validator error-name="hasCapitalCase" error-text="VALIDATOR.HASCAPITALCASE"></o-validator>
      <o-validator error-name="hasNumber" error-text="VALIDATOR.HASNUMBER"></o-validator>
      <o-validator error-name="hasSmallCase" error-text="VALIDATOR.HASSMALLCASE"></o-validator>
      <o-validator error-name="hasSpecialCharacters" error-text="VALIDATOR.HASSPECIALCHARACTERS"></o-validator>
    </o-password-input>
    <o-password-input #confirmnewpassword attr="confirm_new_password" required="yes" min-lenght="8">
      <o-validator error-name="matchNewPassword" error-text="VALIDATION_MATCHPASSWORD" [validator-function]="newPasswordMatchValidator"></o-validator>
    </o-password-input>
    
    <o-combo #merchant attr="role" label="Role" data="merchant" [static-data]="staticData" value-column="name" columns="id;name" visible-columns="name" read-only="no" required="yes"></o-combo>
    <o-button attr="raised3" (click)="register()" type="RAISED" label="Accent" layout-padding color="accent"></o-button>
    
  </o-column>
  
</o-form>
