<o-breadcrumb [form]="myList" label-columns="pck_name" separator=" "></o-breadcrumb>
<div class="fondo">
<o-form #myList attr="packsTable" service="packs" entity="pack" keys="pck_id" show-header="yes" show-header-navigation="no">
    <o-text-input attr="pck_id" sql-type="INTEGER" enabled="no"  show-header-navigation="no" oHidden></o-text-input>
    <div fxLayout="row" class="principal" fxLayoutAlign="center" fxLayoutGap="16px">
        <div class="datos">
            <div class="datos_container">
            <div fxLayout="column" fxLayoutGap="16px" class="contenido_datos">
                    <div class="fondo_titulo">
                        <p class="letrasTitulo">Packs Info</p>
                    </div>
            <div fxLayout="row" fxLayoutGap="16px">
                <o-text-input fxFlex="100" attr="pck_name" required="yes"></o-text-input>
            </div>
            <div fxLayout="row" fxLayoutGap="16px">
                <o-currency-input [step]="1" attr="pck_price" min="1" max="5000" label="{{ 'pck_price' | oTranslate }}" read-only="no"
                required="no">
                </o-currency-input>
                <o-integer-input attr="pck_participants" label="{{ 'PARTICIPANTS' | oTranslate }}"
                read-only="no" required="no" max="100" min="1"></o-integer-input>
                <o-date-input label="{{'pck_date_begin' | oTranslate}}"></o-date-input>
                <o-date-input label="{{'pck_date_end' | oTranslate}}"></o-date-input>
            </div>
            <o-textarea-input class="description-textarea" fxFlex="100" attr="pck_description" required="yes" width="100%"></o-textarea-input>
        </div>
        <div class="div_boton" fxLayout="row" fxLayoutGap="8px">
            <button class="button" (click)="onClicEdit(pck_id)">Añadir Rutas y Negocios</button>
        </div>
    </div>
    </div>
    <o-form attr="packsImageTable" service="packs" entity="packImage" keys="pck_id;imp_id"
     parent-keys="pck_id" show-header="yes" show-header-navigation="no">
        <o-text-input attr="pck_id" sql-type="INTEGER" enabled="no" oHidden></o-text-input>
        <div fxLayout="row" class="image">
            <div fxlayout="column" fxLayoutGap="8px" class="imgHeightWidth">
                <o-image *ngIf="imgId!=null || imgId!='' " id="img_code" attr="img_code" empty-image="assets/images/no-image.png" sql-type="OTHER" width="300px" height="300px"></o-image>
            </div>
        </div>
    </o-form>
</div>
</o-form>
</div>


