<o-breadcrumb [form]="myList" label-columns="pck_name" separator=" "></o-breadcrumb>
<div class="fondo">
    <div>
    <o-form attr="packsTable" #myList service="packs" entity="pack" (onUpdate)="onSaveChanges()" keys="pck_id" show-header="yes" show-header-navigation="no">
    <o-text-input attr="pck_id" sql-type="INTEGER" enabled="no"  show-header-navigation="no" oHidden></o-text-input>
    <div fxloyout="column" class="contenedorTodo">
        <div fxLayout="row" class="principal" fxLayoutAlign="center" fxLayoutGap="32px">
            <div fxLayout="column" fxLayoutGap="16px">
                <div class="datosContainer">
                    <div fxLayout="column" fxLayoutGap="16px" class="contenido_datos">
                            <div class="tituloTabla">
                                <p class="letrasTitulo">{{'PACKS_INFO' | oTranslate}}</p>
                            </div>
                    <div fxLayout="row" fxLayoutGap="16px">
                        <o-text-input #packNameInput fxFlex="100" (onValueChange)="onNameChange($event)" attr="pck_name" required="yes"></o-text-input>
                    </div>
                        <div fxLayout="row" fxLayoutGap="16px">
                            <o-currency-input [step]="1" attr="pck_price" width="100%" min="1" max="5000" label="{{ 'pck_price' | oTranslate }}" read-only="no"
                            required="no">
                            </o-currency-input>
                            <o-integer-input attr="pck_participants" label="{{ 'PARTICIPANTS' | oTranslate }}"
                            read-only="no" required="no" max="100" min="1" width="100%" ></o-integer-input>
                            <o-integer-input (onValueChange)="onDaysChange($event)" attr="pck_days" label="{{ 'DAYS' | oTranslate }}"
                            read-only="no" required="no" max="100" min="1" width="100%"></o-integer-input>
                        </div>
                        <o-textarea-input class="description-textarea" attr="pck_description" required="yes" width="100%"></o-textarea-input>
                        <div class="div_boton" fxLayout="column" fxLayoutGap="8px">
                            <button #addRaBbtn class="button" (click)="onClicEdit(pck_id)">{{'ADD_ROUTES_AND_BUSINESSES' | oTranslate}}</button>
                            <button #addPDbtn class="button" (click)="onClicSchedule()">{{'ADD_SHEDULED_PACKS' | oTranslate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column">
                <o-form attr="packsImageTable" service="packs" entity="packImage" keys="pck_id;imp_id"
                parent-keys="pck_id" show-header="yes" show-header-navigation="no" class="contenedor_imagen">
                <o-text-input attr="pck_id" sql-type="INTEGER" enabled="no" oHidden></o-text-input>
                    <o-image id="img_code" attr="img_code" empty-image="assets/images/no-image.png" sql-type="OTHER" class="imagen"></o-image>
                </o-form>
            </div>
        </div>
        <div class="contenedorTabla">
            <div class="bordeTabla" fxlayout="column">
                <div class="tituloTabla">
                    <p>{{'SHEDULED_PACKS' | oTranslate}}<p>
                </div>
              <o-table attr="packsDateTable" service="packDates" entity="packDateWithState" keys="pd_id" parent-keys="pck_id"
                       columns="pd_id;pd_date_begin;pd_date_end;pcs_state" row-height="large" pagination-controls= "yes"
                       detail-mode='none' delete-button='yes' insert-button='yes' refresh-button='yes' keys-sql-types="integer"
                       visible-columns="pd_date_begin;pd_date_end;pcs_state" query-rows="5">
                       <o-table-column attr="pcs_state" title="pcs_state" title="{{ 'STATE' | oTranslate }}"></o-table-column>
                       <o-table-column attr="pd_date_begin" title="pd_date_begin" type="date" format="LL" title="{{ 'DATE_BEGING' | oTranslate }}"></o-table-column>
                       <o-table-column attr="pd_date_end" title="pd_date_end" type="date" format="LL" title="{{ 'DATE_END' | oTranslate }}"></o-table-column>
              </o-table>
            </div>
        </div>
        </div>
        </o-form>
    </div>
</div>


