<div class="page">


    <o-button class="back-button" attr="fab2" type="ICON" icon="arrow_back" layout-padding color="primary"
        (click)="openPacks()"></o-button>


    <mat-card class="mainCard"
        style="background-color: #eff1f3; border-radius: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); padding: 40px; margin: 10px;">



        <o-form #pform class="mainForm" #form attr="packDetail" service="packs" entity="pack"
            keys="pck_id;gui_c_id" header-actions="false" undo-button="false"
            show-header-actions-text="false"
            columns="pck_id;pck_name;pck_description;pck_price;pck_participants;gui_c_id"
            show-header-navigation="no" class="fill-form" show-header="no">

            <!-- Almaceno el pack que he clicado -->
            <o-grid #packForm attr="packDetail" service="packs" entity="packDetail" keys="P.pck_id;P.gui_c_id;pcs_id"
                columns="P.pck_id;pck_name;pck_description;pck_price;pck_participants;pck_days;pd_date_begin;pd_date_end;pcs_id;P.gui_c_id"
                parent-keys="pck_id" refresh-button="false" quick-filter="false" oHidden />

            <!-- Almaceno los business del pack -->
            <o-grid #gridBusinessesOfPack attr="businessGrid" service="businesses" entity="businessOfPack" keys="B.bsn_id;BSP.pck_id;BSP.pck_id"
                columns="B.bsn_id;B.merchant_id;B.bsn_name;B.bsn_type;B.bsn_photos;BSP.pck_id;BSP.bsn_pack_id;assigned_date"
                query-rows="16" parent-keys="pck_id" oHidden/>

            <!-- Almaceno las rutas de un pack -->
            <o-grid #gridRoutesOfPack attr="routesHome" title="ROUTES" service="routes" entity="routesOfPack" keys="r.route_id;rp.pck_id;"
                columns="r.route_id;r.name;r.estimated_duration;r.difficulty;i.img_code;rp.pck_id;rp.assigned_date"
                query-rows="8" orderable="true" parent-keys="pck_id" oHidden/>

            <!-- Almaceno la ciudad del pack -->
            <o-grid #gui_cities attr="guiCities" service="guideCities" entity="guideCities" keys="gui_c_id"
                columns="gui_z_id;gui_c_id;gui_c_name" visible-columns="gui_z_id;gui_c_id;gui_c_name"
                parent-keys="gui_c_id" refresh-button="false" quick-filter="false" oHidden />

            <!-- Div que contendrá toda la informacion del pack -->
            <div class="main-container">

                <!--Recupero el ID del pack en el que estoy-->
                <o-text-input #pck_id read-only="yes" class="o-text-input" appearance="outline" attr="pck_id"
                    sql-type="INTEGER" label="Nombre" enabled="no" oHidden></o-text-input>


                <!--Grids que almacenan la informacion de las imagenes-->
                <o-grid #imagesPackForm attr="imagePacks" service="imagePacks" entity="imagePack" parent-keys="pck_id"
                    keys="IP.imp_id;IP.pck_id;IP.img_id" columns="IP.imp_id;IP.pck_id;IP.img_id;I.img_code"
                    visible-columns="imp_id;pck_id;img_id" refresh-button="false" quick-filter="false" oHidden />

                <!--Recorrido entre tablas para sacar la imagen correspondiente al pack-->
                <span *ngFor="let pack of packForm.dataArray">
                    <span *ngFor="let imagePack of imagesPackForm.dataArray">
                        <span *ngIf="imagePack.img_id == 1">
                            <div class="div-image-container">
                                <h1 class="image-title"> {{pack.pck_name}} </h1>
                                <img class="image-logo" [src]="getImageSrc(imagePack.img_code)">
                            </div>
                        </span>
                        <span *ngIf="imagePack.img_id != 1">
                            <div class="div-image-container">
                                <h1 class="image-title"> {{pack.pck_name}} </h1>
                                <img class="image" [src]="getImageSrc(imagePack.img_code)">
                            </div>
                        </span>
                    </span>
                </span>
                <div  class="reserve-container" *ngIf="!checkAuthStatus() && parsePermissions('reserve-container')">

                    <!-- Combo box que muestra los intervalos de fechas disponibles para la reserva con su botón correspondiente -->
                    <div class="reserve-container">
                    <div class="div-combo-container">
                        <o-combo
                        #packDateCombo
                        value-column="pd_id"
                        keys="pd_id"
                        columns="pck_id;pd_id;pd_date_begin;pd_date_end"
                        visible-columns="pd_date_begin;pd_date_c;pd_date_end"
                        multiple="no" null-selection="no" required="yes"
                        label="{{ 'DATE_RANGE' | oTranslate}}"
                        ></o-combo>
                    </div>
                    <div class="div-active-pack-container">
                        <p class="active-pack"
                        (click)="bookPack(packDateCombo.getDataArray())">{{ 'BOOK'| oTranslate }}
                        </p>
                    </div>
                    </div>

                </div>
                <!-- Informacion adicional del business divididos en dos columnas (o-rows) -->
                <div class="data-container" *ngFor="let packs of packForm.dataArray" line-height="2">

                    <!-- Direccion y descripcion -->
                    <o-row class="o-rows" class="left" attr="container" icon="description" mat
                        title="{{'DESCRIPTION' | oTranslate }}" layout-align="start stretch" elevation="1"
                        aria-orientation="vertical" appearance="outline">
                        <ul class="list-to-desc">
                            <li *ngFor="let packs of packForm.dataArray">{{packs.pck_description}}</li>
                        </ul>
                    </o-row>


                    <!-- Recupero las ciudades y las provincias -->
                    <o-grid #gui_zones attr="guideZones" service="guideZones" entity="guideZone" keys="gui_z_id"
                        columns="gui_z_id;gui_z_name" visible-columns="gui_z_id;gui_z_name" refresh-button="false"
                        quick-filter="false" oHidden />

                    <!-- Horario, telefono, website y el cif -->
                    <o-row class="o-rows" class="right" attr="container" title="{{'INFO' | oTranslate }}" icon="info"
                        layout-align="start stretch" elevation="1" appearance="outline" opacity="0">
                        <ul class="list-with-spaces">
                            <li *ngIf="!packs.pck_days"><strong><i>{{'DAYS' | oTranslate }}: </i></strong>{{'NOT_SPECIFIED' | oTranslate}}</li>
                            <li *ngIf="packs.pck_days && packs.pck_days > 0"><strong><i>{{'DAYS' | oTranslate }}: </i></strong>{{packs.pck_days}}</li>
                            <li *ngIf="packs.pck_participants "><strong><i>{{'TRAVELLERS' | oTranslate }}: </i></strong>{{packs.pck_participants}}</li>
                            <li *ngIf="!packs.pck_participants"><strong><i>{{'TRAVELLERS' | oTranslate }}: </i></strong>{{'NOT_SPECIFIED' | oTranslate}}</li>
                            <span *ngFor="let city of gui_cities.dataArray">
                                <span *ngIf="packs.gui_c_id == city.gui_c_id">
                                    <span *ngFor="let zone of gui_zones.dataArray">
                                        <li *ngIf="city.gui_z_id == zone.gui_z_id"><strong><i>{{'PLACE' | oTranslate }}: </i></strong> {{city.gui_c_name | oTranslate}}, {{zone.gui_z_name | oTranslate}}</li>
                                    </span>
                                </span>
                            </span>
                            <li><strong><i>{{'Price' | oTranslate }}: </i></strong>{{packs.pck_price}} €</li>
                        </ul>
                    </o-row>
                </div>

                <!-- Combo box que muestra los dias de la ruta para poder filtrar por el mismo con su botón correspondiente -->
                <o-form #daySelectorForm show-header-navigation="false" show-header="no">
                    <div class="reserve-container">
                        <div class="div-combo-days-container">
                            <o-combo attr="assigned_date" class="combo-box-dates" label=" {{ 'COMBO-BOX-DAYS-TITLE' | oTranslate }} " [static-data]="arrayDias"
                                value-column="day" columns="day" visible-columns="day" tooltip="{{'COMBO-BOX-DAYS-DESC' | oTranslate }}" null-selection-label="{{ 'ALL-DAYS' | oTranslate }}"></o-combo>
                        </div>
                    </div>
                    <o-filter-builder #filterBuilder attr="thefilter"
                        filters="assigned_date:assigned_date;" [target]="gridBusinessesOfPack" query-on-change="yes" query-on-change-delay="500" [expression-builder]="createFilter"></o-filter-builder>

                    <o-filter-builder #filterBuilder2 attr="thefilter"
                        filters="assigned_date:assigned_date;" [target]="gridRoutesOfPack" query-on-change="yes" query-on-change-delay="500" [expression-builder]="createFilter"></o-filter-builder>

                    </o-form>

                <!-- Muestro todos las rutas en un grid -->
                <div class="routes-container">
                    <o-row class="o-row-o-grid-container" title="{{ 'ROUTES' | oTranslate }}" icon="map" layout-align="start stretch" elevation="1" appearance="outline" opacity="0">
                        <div class="o-grid-container">
                            <o-grid opacity="0" refresh-button="false" quick-filter="false" pagination-controls="false" detail-mode="false" page-size-options="false"
                            show-page-size="false" disable-page-size-calculation="true" cols="2" gutter-size="1px" grid-item-height="215px">
                                <o-grid-item *ngFor="let data of gridRoutesOfPack.dataArray">
                                    <div (click)="openDetailRoutes(data)" fxLayout="column" fxLayoutAlign="center" class="mat-elevation-z1 routeCard">
                                        <div class="card-header">
                                            <div class="route-name">
                                                <span class="pack-name">{{ data.name}}</span>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <div class="content-image-item">
                                                <img class="preview-image" [src]="getRouteImageSrc(data.img_code)" height="80px">
                                            </div>
                                            <div class="content-list-item">
                                                <ul class="list-with-spaces" style="list-style-type: none;">
                                                    <li><mat-icon class="icon">timer</mat-icon>{{data.estimated_duration}} Mins</li>
                                                    <li><mat-icon class="icon">eco</mat-icon>{{getDifficultad(data.difficulty) | oTranslate }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </o-grid-item>
                            </o-grid>
                        </div>
                    </o-row>
                </div>

                <!-- Muestro todos los negocios en un grid -->
                <div class="business-container">
                    <o-row class="o-row-o-grid-container" title="{{ 'BUSINESSES' | oTranslate }}" icon="business" layout-align="start stretch" elevation="1" appearance="outline" opacity="0">
                        <div class="o-grid-container">
                            <o-grid  opacity="0" refresh-button="false" quick-filter="false" pagination-controls="false" detail-mode="false" page-size-options="false"
                            show-page-size="false" disable-page-size-calculation="true" cols="2" gutter-size="1px" grid-item-height="245px">
                                <o-grid-item *ngFor="let data of gridBusinessesOfPack.dataArray" >
                                    <div (click)="openDetailBusiness(data)" fxLayout="column" fxLayoutAlign="space-evenly center" class="mat-elevation-z1 businessCard">
                                        <div class="card-header">
                                            <div class="business-title">
                                                <div class="business-icon">
                                                    <span *ngIf="data.bsn_type === 'Restaurant'" matTooltip="Restaurant"><mat-icon class="type-icon" >restaurant</mat-icon></span>
                                                    <span *ngIf="data.bsn_type === 'Lodging'"><mat-icon class="type-icon" matTooltip="Lodging">house</mat-icon></span>
                                                    <span *ngIf="data.bsn_type === 'AgencyGuide'"><mat-icon class="type-icon" matTooltip="Agency Guide">flight</mat-icon></span>
                                                </div>
                                                <div class="business-name">
                                                    <span class="pack-name">{{ data.bsn_name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <img class="preview-image" [src]="getImageSrc(data.bsn_photos)" height="120px">
                                    </div>
                                </o-grid-item>
                            </o-grid>
                        </div>
                    </o-row>
                </div>


            </div>
        </o-form>
    </mat-card>
</div>
