<h2>{{'info_landmark' | oTranslate }}</h2>
<o-form attr="landmarksNew" service="landmarks" entity="landmark" keys="landmark_id" title="">
    <o-column>
        <div fxLayout="row">
            <div fxLayout="column" class="landmarkInfo">
                <o-table attr="landmarkTable" service="landmarks" entity="landmark" keys="landmark_id"
                    columns="landmark_id;name;description;opening_time;closing_time;coordinates"
                    visible-columns="name;description;opening_time;closing_time" query-rows="10"
                    select-all-checkbox-visible="yes" detail-mode="none">
                    <o-table-column attr="description" title="description" type="TEXT" multiline="yes"></o-table-column>
                </o-table>
            </div>
        </div>
    </o-column>
</o-form>
