<div class="dialog-content-margin">
    <div class="landmark-details">
        <div fxLayout="row" style="height: 100%;">
        <div fxFlex="70%">
            <div class="landmark-map">
            <o-map #oMapMarker center="42.940599, -7.120727" zoom="8" min-zoom="3" max-zoom="20" zoom-control="yes"
                search-control="no" layer-panel-visible="no" style="width: 100%; height: 100%;">
                <o-map-layer layer-type="marker" layer-id="office_marker" layer-center="42.240599;-8.720727"
                layer-menu-label="Office headquarters " layer-menu-label-secondary="Location of office headquarters">
                </o-map-layer>
            </o-map>
            </div>
        </div>
        
        <div fxFlex="30%" style="padding: 20px;">
            <p>PUNTOS DE INTERÉS</p>
            <p  [landmark]="data.landmark" class ="landmarkName"></p>
        </div>
        
    </div>
</div>