<h1 class="titulo">Informacion ruta</h1>
<o-form attr="routesNew" service="routes" entity="route" keys="route_id" title="">
    <o-column>
        <div fxLayout="row" fx>
            <o-image id="route_imagen" attr="IMAGEN" sql-type="OTHER"></o-image>
         </div>
         <div>
            <div fxLayout="column" fxLayoutGap="8px" fxFlex="60">
                <o-text-input fxFlex="50" attr="name" sql-type="STRING" enabled="yes"
                    required="yes"></o-text-input>
                <div fxLayout="column" fxLayoutGap="10px">
                    <o-text-input fxFlex="40" attr="description" sql-type="STRING" enabled="yes"
                    required="yes"></o-text-input>
                    <o-text-input fxFlex="40" attr="estimated_duration" sql-type="NUMERIC" enabled="yes"
                    ></o-text-input>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                    <o-text-input fxFlex="40" attr="difficulty" sql-type="NUMERIC" enabled="yes"
                    required="yes"></o-text-input>
                </div>
            </div>
         </div>
    </o-column>

</o-form>
