.routeInfo{
    margin: 10px;
    width: 50%;
}


.imageInput{
    margin: 10px;
    width: 50%;
}

.imageInput div {
    padding: 5px;
}

.description-textarea {

    .mat-textarea {
        resize: none;
    }
}