.routeInfo{
    margin: 10px;
    width: 50%;
}


.imageInput{
    margin: 10px;
    width: 50%;
}

.imageInput div {
    height: 96%;
}

.description-textarea {

    .mat-textarea {
        resize: none;
    }
}

.divPrincipal{
    padding-top: 1.7%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1.7%;
}

.tool{
    visibility: hidden;
    font-size: 12px;
    width: 2500px;
}

.tool2{
    visibility: hidden;
    font-size: 12px;
    width: 2500px;
}

.toolTipContainer{
    height: 100px;
}
.toolTipContainer:hover .tool{
    visibility: visible;
    background-color: #ddd5cc;
    margin: 15px 0px 0px 0px;
    padding: 5px;
    border-radius: 15px;
}

.toolTipContainer:hover .tool2{
    visibility: visible;
    background-color: #ddd5cc;
    margin: 15px 0px 0px 0px;
    padding: 5px;
    border-radius: 15px;
}

.slice{
    width: 600px;
}


