.routeInfo{
    margin: 10px;
    width: 50%;
}


.imageInput{
    margin: 10px;
    width: 50%;
}

.imageInput div {
    height: 96%;
}

.description-textarea {

    .mat-textarea {
        resize: none;
    }
}

.divPrincipal{
    padding-top: 1.7%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1.7%;
}

