*{
    margin: 0px;
    padding: 0px;
}

.form_principal{
    height: auto;
    background-color: #eee4db;
}

.div_principal{
    padding: 30px 60px 60px 60px;
    background-color: #eee4db;
}

.campos{
    font-size: 15px;
    background-color: rgb(255, 254, 253);
    padding: 5px;
}

.nombre{
    width: 100%;
}

.button-true{
    font-size: 16px;
    width: 150px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #c2b5aa;
    background-color: #c2b5aa;
    cursor: pointer; 
    outline: none; 
}
   
     @keyframes pulse {
       0%, 100% {
         transform: scale(1);
     }
     10% {
         transform: scale(1.03);
     }
     20% {
         transform: scale(1.06);
     }
     30% {
         transform: scale(1.08);
     }
     40% {
         transform: scale(1.1);
     }
     50% {
         transform: scale(1.12);
     }
     60% {
         transform: scale(1.1);
     }
     70% {
         transform: scale(1.08);
     }
     80% {
         transform: scale(1.06);
     }
     90% {
         transform: scale(1.03);
     }
   }
.button-true:hover{
    background-color: white;
    border-color: white;
    font-size: 18px;
    animation: pulse 3s infinite ease-in-out;
}
.button-false {
   background-color: #d8d5d2;
   color: #bdbbba;
   border: none;
   cursor:default;
   padding: 5px;
   border-radius: 10px;
}