*{
    margin: 0px;
    padding: 0px;
}

.fondoTarjeta{
    background-color: #eee4db;
}

.form_principal{
    height: auto;
    background-color: #eee4db;
}

.div_principal{
    padding: 20px 40px 40px 40px;
    background-color: #eee4db;
}

.campos{
    font-size: 15px;
    background-color: #eee4db;
}

::ng-deep .mat-form-field-disabled{
    div {
        background-color: rgb(221, 218, 212) !important;
    }
}

.nombre{
    width: 100%;
}

.button-true{
    font-size: 16px;
    width: 150px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: #c2b5aa;
    background-color: #c2b5aa;
    cursor: pointer; 
    outline: none; 
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
   
     @keyframes pulse {
       0%, 100% {
         transform: scale(1);
     }
     10% {
         transform: scale(1.03);
     }
     20% {
         transform: scale(1.06);
     }
     30% {
         transform: scale(1.08);
     }
     40% {
         transform: scale(1.1);
     }
     50% {
         transform: scale(1.12);
     }
     60% {
         transform: scale(1.1);
     }
     70% {
         transform: scale(1.08);
     }
     80% {
         transform: scale(1.06);
     }
     90% {
         transform: scale(1.03);
     }
   }
.button-true:hover{
    background-color: #a89d93;
    border-color: #a89d93;
    transform: scale(1.03);
}
.button-false {
   background-color: #d8d5d2;
   color: #bdbbba;
   width: 150px;
   border: none;
   cursor:default;
   padding: 5px;
   border-radius: 10px;
}
.tituloTabla{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    padding: 15px;
}
.mat-icon{
    vertical-align: middle;
    margin: 0px 5px 5px 0px;
  }

  .div-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  /* Estilo global de los o-rows */
.o-rows {
    overflow-x: hidden;
  }
  .o-row.o-appearance-outline {
    background-color: #eee4db;
    mat-icon{
        color:#84A45A;
    }
  }