<o-form attr="packDateNew" label-header-align="start" mode="insert" 
  label-header="{{ 'SCHEDULE_PACKS' | oTranslate }}" keys="pd_id" fxLayout="column"  service="packDates" entity="packDate" query-on-init="false" 
  keys-sql-types="integer" ignore-default-navigation="yes" (insert-method)="onInsertPackDate()" show-header="no">
  <div class="div_principal" fxLayout="column" fxLayoutGap="16px">
    <div class="tituloTabla">
      <p>{{'SCHEDULE_PACKS' | oTranslate}}</p>
    </div>
    <o-row class="o-rows" class="nombre_pack" attr="container" icon="hiking" mat
    title="{{'PACK_NAME' | oTranslate }}" layout-align="start stretch" elevation="1"
    aria-orientation="vertical" appearance="outline" class="campos">
    {{packName}}
    </o-row>
    <div fxLayout="row" fxLayoutGap="32px">
      <o-integer-input #days
        attr="days" required="true" min="1"
        label="{{ 'DAYS' | oTranslate }}" (onChange)="checkDays()"
        class="campos"
      ></o-integer-input>
      <o-date-input #beginDate attr="pd_date_begin" value-type="date" [min]="getMinDate()"
        label="{{ 'DATE_RANGE' | oTranslate }}" read-only="no" format="DD/MM/YYYY"
        (onValueChange)=" onBeginDateChanged()" class="campos"></o-date-input>
      <o-date-input #endDate attr="pd_date_end" value-type="date" label="{{ 'DATE_RANGE' | oTranslate }}"
      read-only="yes" format="DD/MM/YYYY" class="campos"></o-date-input>
      <button class="button" #InsertPackDateButton (click)="OnInsertPackDate()" [ngClass]="a()">
        <mat-icon>save</mat-icon>
        {{'SAVE' | oTranslate}}
      </button>
    </div>
  </div>
</o-form>

