o-checkbox {
    width: 72px;
}

.price {
    margin-inline-start: 35px;
    width: 30%;
}

.lodging {
    display: flex;
}

.toggleFirst {
    margin-bottom: 30px; 
    margin-top: 25px;
}

.toggles{
    margin-bottom: 30px;
}

.agency_guide {
    display: flex;
}

h3 {
    text-align: center;
}

.column-language {
    width: 20%;
}

.radiobutton {
    margin-right: 10%;
    flex: 1; /* Distribuye el espacio disponible de manera equitativa entre los botones de radio */
    
}

mat-radio-group{
    margin-left: 2%;
    margin-top: 4%;
    
    
    
}

.o-image{
    width: 65%;
    height: 75%;
}

#text {
    padding-right: 15px;
}

o-phone-input {
    height: 150%;
}

span {
    font-size: 15px;
    font-weight: bold;
    margin-left: 5%;
    width: 10px;
}

#agency-radio {
    width: 10%;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}



