
<o-form attr="businessHome" service="businesses" entity="business" keys="business_id" fxLayout="column" show-header="yes"
    header-actions="R;U;I;" #oForm after-insert-mode="detail" class="standalone-form-container" undo-button="yes" >
 
    <o-row attr="business-form" layout-align="start stretch">
<!-- Titulo del formulario -->
<o-column title="BUSINESS DATA" layout-align="start stretch" fxFlex="60" layout-padding>


    <div fxLayout="row" fxLayoutAlign="start center">
        <!-- Datos del negocio -->
        <o-text-input id="text" attr="bsn_name" label="Business name" fxFlex="100" max-length="100" required="yes"></o-text-input>      
        <o-text-input attr="bsn_cif" label="CIF/DNI"  read-only="no" required="yes" [formControl]="cifDniControl" (input)="cifDniControl.updateValueAndValidity()" max-length="9"></o-text-input>
        <div fxFlex></div>
        <mat-error *ngIf="cifDniControl.invalid && (cifDniControl.dirty || cifDniControl.touched)">
            <span *ngIf="cifDniControl.hasError('required')">El CIF/DNI es requerido</span>
            <span *ngIf="cifDniControl.hasError('cifDniInvalid')">El CIF/DNI es inválido</span>
        </mat-error>
    </div>
    
    
    <br>


    <div fxLayout="row" fxLayoutAlign="start center">
        <o-textarea-input attr="bsn_description" label="Description" width="100%" rows="6"
            class="form-field"></o-textarea-input>
        <div fxFlex></div>
    </div>
    <br>

    <div fxLayout="row" fxLayoutAlign="start center">
    <o-textarea-input attr="bsn_address" label="Adress" width="100%" rows="1"
                        class="form-field"></o-textarea-input>
    </div>
    <br>
<!-- Columna phone, website, schedule, email -->

    <!-- PHONE -->
   
        <o-phone-input fxFlex attr="bsn_phone" label="Phone" ></o-phone-input>
        <o-phone-input attr="prefix" label="Prefix"  read-only="no"required="yes"></o-phone-input>
    
    <br>
    <!-- EMAIL -->
    
        <o-email-input attr="bsn_email" label="Email" read-only="no" required="yes" ></o-email-input>
    <br>
      
    <!-- WEBSITE --> <!-- Falta icono -->
    
    <o-text-input attr="bsn_website" label="Website" fxFlex.lg="80" fxFlex.xl="80" read-only="no"
            fxFlex="100" max-length="100" required="yes"></o-text-input>
    <br>
        
    <!-- SCHEDULE -->
  
    <div fxLayout="row" fxLayoutAlign="start left">
        <div class="div" style="margin-right: 20px;">
            <o-hour-input attr="bsn_schedule" label="{{ 'Opening' | oTranslate }}" read-only="no" required="yes" clear-button="yes"
            format="24" value-type="string"></o-hour-input>
        </div>
        <div>
        <o-hour-input attr="bsn_schedule2" label="{{ 'Closing' | oTranslate }}" read-only="no" required="yes" clear-button="yes"
        format="24" value-type="string"></o-hour-input>   
        </div>
    </div>

<!-- SELECT BUSINESS -->
<mat-radio-group attr="bsn_type" [(ngModel)]="selectedOption" class="radio-group">
    <mat-radio-button value="restaurant" class="radiobutton"><span>Restaurant</span></mat-radio-button>
    <mat-radio-button value="lodging" class="radiobutton"><span>Lodging</span></mat-radio-button>
    <mat-radio-button id="agency-radio" value="agency_guide" class="radiobutton"><span>Agency Guide</span></mat-radio-button>
</mat-radio-group>


</o-column>

<!-- PHOTOS -->    

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px"></div>
        <o-column fxFlex="40" layout-align="center center">        
            <o-image attr="usr_photo" sql-type="OTHER" label="Upload image"></o-image>  
        </o-column>
    </o-row>


<!-- RESTAURANT --> 
<div>
<o-row id="restaurant" attr="restaurant-form" layout-align="start stretch" *ngIf="selectedOption === 'restaurant'">
    <o-column title="RESTAURANT DATA" layout-align="start stretch" fxFlex="60" layout-padding>
            <o-file-input attr="rest_menu" label="{{ 'Upload PDF or IMAGE' | oTranslate }}" read-only="no"
                required="yes" accept-file-type=".pdf;.png" multiple="no" layout-padding>
            </o-file-input>
    </o-column>
</o-row>
</div>  
<!-- LODGING --> 

<div class="lodging" *ngIf="selectedOption === 'lodging'">

    <o-column>
        <o-row attr="lodging-form" layout-align="start stretch">
            <o-column>

                <o-row class="lodging-column" title="LODGING" layout-align="start stretch" layout-padding>
                    <o-form editable-detail="no" show-header="no" layout-direction="column">


                        <o-column>
                            <o-row>

                                <o-checkbox attr="single" label="Single" data="Individual" read-only="no"></o-checkbox>
                                <o-currency-input class="price" attr="price1" label="Price" read-only="no"
                                    required="yes" min-decimal-digits="2" max-decimal-digits="2" min="0"></o-currency-input>

                            </o-row>
                            <br>

                            <o-row>
                                <o-checkbox attr="double" label="Double" data="Doble" read-only="no"></o-checkbox>
                                <o-currency-input class="price" attr="price2" label="Price" read-only="no"
                                    required="yes" min-decimal-digits="2" max-decimal-digits="2" min="0"></o-currency-input>
                            </o-row>
                            <br>

                            <o-row>
                                <o-checkbox attr="triple" label="Triple" data="Triple" read-only="no"></o-checkbox>
                                <o-currency-input class="price" attr="price3" label="Price" read-only="no"
                                    required="yes" min-decimal-digits="2" max-decimal-digits="2" min="0"></o-currency-input>
                            </o-row>
                        </o-column>
                    </o-form>
                </o-row>

            </o-column>

        </o-row>

    </o-column>
    <o-column>
        <o-row class="lodging-column" attr="srv_type" title="SERVICES" layout-align="start stretch" appearance="none" fxLayout="row"
            fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="start" style="margin-right: 30px;">
                <o-slide-toggle attr="toggle1" class="toggleFirst" label="WIFI" read-only="no"></o-slide-toggle>
                <o-slide-toggle attr="toggle2" class="toggles" label="PARKING" read-only="no"></o-slide-toggle>
                <o-slide-toggle attr="toggle3" class="toggles" label="POOL" read-only="no"></o-slide-toggle>
            </div>
            <div fxLayout="column" fxLayoutAlign="start">
                <o-slide-toggle attr="toggle4" class="toggleFirst" label="BREAKFAST" read-only="no"></o-slide-toggle>
                <o-slide-toggle attr="toggle5" class="toggles" label="LUNCH" read-only="no"></o-slide-toggle>
                <o-slide-toggle attr="toggle6" class="toggles" label="DINNER" read-only="no"></o-slide-toggle>
            </div>
        </o-row>
    </o-column>
</div>

<div class="agency_guide" *ngIf="selectedOption === 'agency_guide'">
<o-column class="column-language">
    <h3>LANGUAGE</h3>
    <o-row layout-align="start stretch" appearance="none" fxLayout="row"
            fxLayoutAlign="start center">
            
        <o-form show-header="no">
            <o-combo id="language" attr="gui_language" label="Select language" [static-data]="languagesArray"
            value-column="countryCode" columns="countryCode;countryText"
            visible-columns="countryText" required="yes" multiple="yes" fxFlex>
            </o-combo>
        </o-form>
    </o-row>
</o-column>

<o-column>
    <h3>PROVINCE</h3>
    <o-row attr="gui_province" layout-align="start stretch" appearance="none" fxLayout="row" fxLayoutAlign="start center">
        <o-form show-header="no">
            <o-combo #comboProvince attr="gui_province" label="Select province" [static-data]="provincias" value-column="nombre"
                columns="nombre" visible-columns="nombre" required="yes" fxFlex null-selection="no"
                (onChange)="onProvinciaChange($event)">
            </o-combo>
        </o-form>
    </o-row>
</o-column>

<o-column>
    <h3>CITY</h3>
    <o-row attr="gui_city" layout-align="start stretch" appearance="none" fxLayout="row" fxLayoutAlign="start center">
        <o-form show-header="no">
            <o-combo *ngIf="ciudadesFiltradas$ | async as ciudades" attr="gui_city" label="Select city" [static-data]="ciudades" value-column="ciudad"
                columns="ciudad" visible-columns="ciudad" required="yes" fxFlex null-selection="no">
            </o-combo>
        </o-form>
    </o-row>
</o-column>

</div>

</o-form>