.businessCard {
    width: 350px;
    background-color: #eff1f3;
    border-radius: 10px; 
    padding: 16px;
    overflow-x: hidden;

}

.businessCard img {
    margin-top: 8px;
}

.businessCard .office {
    font-size: 0.8em;
}

.preview-image {
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
}

.text-style {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.type-icon {
    margin-bottom: -6.5px;
    margin-right: 5px;
    color: #84A45A;
    font-size: 22px;

}

:host ::ng-deep .o-grid-sort {
    min-width: 300px;
    mat-form-field {
        min-width: 300px;
    }
}

.businessCard:hover {
    box-shadow: 0 0 15px rgba(113, 94, 78, 1);  
    transform: scale(1.04); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.full-page {
    height: 77vh;
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        width: 32vh;
    }
    .o-data-toolbar {
        align-items: start;
        .title {
            font-size: 25px;
            margin-right: 70px;
            font-weight: bold;
        }
    }
  }