<div class="page">


    <o-button class="back-button" attr="fab2" type="ICON" icon="arrow_back" layout-padding color="primary"
        (click)="openPacks()"></o-button>


    <mat-card class="mainCard"
        style="background-color: #eff1f3; border-radius: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); padding: 40px; margin: 10px;">



        <o-form #form class="mainForm" attr="packDetail"  service="packs" entity="packAndBookingDetail"
            keys="pbk_booking_id" header-actions="false" undo-button="false" keys-sql-types="INTEGER"
            show-header-actions-text="false"
            columns="P.pck_id;pck_name;pck_description;pck_price;pck_participants;pck_days;pd_date_begin;pd_date_end;pcs_id;P.gui_c_id;pbk_booking_id"
            show-header-navigation="no" class="fill-form" show-header="no">

         

            <!-- Almaceno el pack que he clicado -->
            <o-grid #packForm attr="packDetail" service="packs" entity="packAndBookingDetail" keys="P.pck_id;P.gui_c_id;pcs_id"
                columns="P.pck_id;pck_name;pck_description;pck_price;pck_participants;pck_days;pd_date_begin;pd_date_end;pcs_id;P.gui_c_id"
                parent-keys="pbk_booking_id" refresh-button="false" quick-filter="false" oHidden />
             
            <!-- Almaceno el pack que he clicado -->
            <o-grid #cancelPackForm attr="packCancelDetail" service="packs" entity="packCancelDetail" keys="PB.pbk_booking_id"
            columns="PB.pbk_booking_id"
            parent-keys="pbk_booking_id" refresh-button="false" quick-filter="false" oHidden />
           

            <!-- Almaceno la ciudad del pack -->
            <o-grid #gui_cities attr="guiCities" service="guideCities" entity="guideCities" keys="gui_c_id"
                columns="gui_z_id;gui_c_id;gui_c_name" visible-columns="gui_z_id;gui_c_id;gui_c_name"
                parent-keys="gui_c_id" refresh-button="false" quick-filter="false" oHidden />

            <!-- Div que contendrá toda la informacion del pack -->
            <div class="main-container">

                <!--Recupero el ID del pack en el que estoy-->
                <o-text-input #pck_id read-only="yes" class="o-text-input" appearance="outline" attr="pck_id"
                    sql-type="INTEGER" label="Nombre" enabled="no" oHidden></o-text-input>


                <!--Grids que almacenan la informacion de las imagenes-->
                <o-grid #imagesPackForm attr="imagePacks" service="imagePacks" entity="imagePack" parent-keys="pck_id"
                    keys="IP.imp_id;IP.pck_id;IP.img_id" columns="IP.imp_id;IP.pck_id;IP.img_id;I.img_code"
                    visible-columns="imp_id;pck_id;img_id" refresh-button="false" quick-filter="false" oHidden />

                <!--Recorrido entre tablas para sacar la imagen correspondiente al pack-->
                <span *ngFor="let pack of packForm.dataArray">
                    <span *ngFor="let imagePack of imagesPackForm.dataArray">
                        <span *ngIf="imagePack.img_id == 1">
                            <div class="div-image-container">
                                <h1 class="image-title"> {{pack.pck_name}} </h1>
                                <img class="image-logo" [src]="getImageSrc(imagePack.img_code)">
                            </div>
                        </span>
                        <span *ngIf="imagePack.img_id != 1">
                            <div class="div-image-container">
                                <h1 class="image-title"> {{pack.pck_name}} </h1>
                                <img class="image" [src]="getImageSrc(imagePack.img_code)">
                            </div>
                        </span>

                    </span>
                </span>


                <!-- Informacion adicional del business divididos en dos columnas (o-rows) -->
                <div class="data-container" *ngFor="let packs of packForm.dataArray" line-height="2">

                    <!-- Direccion y descripcion -->
                    <o-row class="o-rows" class="left" attr="container" icon="description" mat
                        title="{{'DESCRIPTION' | oTranslate }}" layout-align="start stretch" elevation="1"
                        aria-orientation="vertical" appearance="outline">
                        <ul class="list-to-desc">
                            <li *ngFor="let packs of packForm.dataArray">{{packs.pck_description}}</li>
                        </ul>
                    </o-row>


                    <!-- Recupero las ciudades y las provincias -->
                    <o-grid #gui_zones attr="guideZones" service="guideZones" entity="guideZone" keys="gui_z_id"
                        columns="gui_z_id;gui_z_name" visible-columns="gui_z_id;gui_z_name" refresh-button="false"
                        quick-filter="false" oHidden />

                    <!-- Horario, telefono, website y el cif -->
                    <o-row class="o-rows" class="right" attr="container" title="{{'INFO' | oTranslate }}" icon="info"
                        layout-align="start stretch" elevation="1" appearance="outline" opacity="0">
                        <ul class="list-with-spaces">
                            <li *ngIf="!packs.pck_days"><strong><i>{{'DAYS' | oTranslate }}: </i></strong>{{'NOT_SPECIFIED' | oTranslate}}</li>
                            <li *ngIf="packs.pck_days && packs.pck_days > 0"><strong><i>{{'DAYS' | oTranslate }}: </i></strong>{{packs.pck_days}}</li>
                            <li *ngIf="packs.pck_participants "><strong><i>{{'TRAVELLERS' | oTranslate }}: </i></strong>{{packs.pck_participants}}</li>
                            <li *ngIf="!packs.pck_participants"><strong><i>{{'TRAVELLERS' | oTranslate }}: </i></strong>{{'NOT_SPECIFIED' | oTranslate}}</li>
                            <span *ngFor="let city of gui_cities.dataArray">
                                <span *ngIf="packs.gui_c_id == city.gui_c_id">
                                    <span *ngFor="let zone of gui_zones.dataArray">
                                        <li *ngIf="city.gui_z_id == zone.gui_z_id"><strong><i>{{'PLACE' | oTranslate }}: </i></strong> {{city.gui_c_name | oTranslate}}, {{zone.gui_z_name | oTranslate}}</li>
                                    </span>
                                </span>
                            </span>
                            <li><strong><i>{{'Price' | oTranslate }}: </i></strong>{{packs.pck_price}} €</li>

                        </ul>
                    </o-row>
                </div>
                <ng-container *ngIf="isLogged()">
                    <o-grid #isCliente attr="isclient" service="clients" entity="isClient" columns="client_id" visible-columns="client_id" 
                    refresh-button="false" quick-filter="false" oHidden />
                    <span *ngFor="let client of isCliente.dataArray">
                        <div class="div-cancel-pack-container" *ngFor="let pack of cancelPackForm.dataArray">
                          <ng-container *ngIf="client.data !== -1">
                            <button *ngIf="diffDays(packForm.dataArray[0].pd_date_begin, getCurrentDate()) >= 2" class="cancel-pack" (click)="cancelBookPack($event, pack)">
                              {{ 'CANCEL-PACK' | oTranslate }}
                            </button>
                            <div class="tooltipCancelButton">
                                <button *ngIf="diffDays(packForm.dataArray[0].pd_date_begin, getCurrentDate()) < 2" class="cancel-pack-disabled" disabled>
                                    {{ 'CANCEL-PACK' | oTranslate }}
                                </button>
                                <span class="tooltipTextCancelButton">{{'TOOLTIP-CANCEL-BUTTON' | oTranslate }}</span>
                            </div>
                           </ng-container>
                        </div>
                      </span>
                </ng-container>
            </div>
        </o-form>
    </mat-card>
</div>
